[2020-03-24 22:04] jscholes commented on #894
@alexrcabral The feedback form is hosted externally, on Google Forms.  So the only way you're going to be able to guarantee the accessibility of that is to bring it in-house.  It can still interface with an external backend to store responses, though.

[2020-03-24 22:11] jscholes commented on #903
I don't agree with this blanket statement.  The Google sign in flow is reasonably accessible with a screen reader, and many users won't have an issue with it.  Particularly if, say, their school already uses GSuite and they're already signed into that.

I do think there will be groups of users who are able to use Bookshare and Dolphin's reading apps, but who may not have a Google account, or other

[2020-03-24 22:22] alexrcabral commented on #1001
@benetechMatt Since it restarts from the beginning, it should be a stop button rather than a pause button. Pause implies that it will start speaking from where it left off.

[2020-03-24 22:22] alexrcabral commented on #1000
@benetechMatt
Update from #1001 : Since it restarts from the beginning, it should be a stop button rather than a pause button. Pause implies that it will start speaking from where it left off.

[2020-03-24 22:22] alexrcabral commented on #995
@benetechMatt
Update from #1001 : Since it restarts from the beginning, it should be a stop button rather than a pause button. Pause implies that it will start speaking from where it left off.

[2020-03-24 22:23] jscholes commented on #762
@johnhbenetech Thanks for that sample set.  I see that when editing it, the "View Sketch" button isn't positioned inside the options dropdown for the problem.  Is that the design we're aiming for?  Of course, having it inside a dropdown on the solve view wouldn't make sense, because it would be the only option.

Additionally, the label of "View Sketch" doesn't indicate to which problem it relates.

[2020-03-24 22:27] jscholes commented on #764
CC @benetechMatt and @alexrcabral - Do you have any thoughts on the questions outlined by myself and @sinabahram?  If we can crack this here, it may also have an impact on future work e.g. if students can customise the editor tools UI, that may also involve sorting.

[2020-03-24 22:28] alexrcabral commented on #1003
@benetechMatt Since this is no longer active and addressed by #1012 , should this issue be closed?

[2020-03-24 22:30] jscholes commented on #886
@alexrcabral What does this toolbar facilitate?

[2020-03-24 22:32] jscholes commented on #946
@benetechMatt Is this a mock-up we should review?

[2020-03-24 22:33] alexrcabral commented on #994
@benetechMatt Moving to product review since most of the adjoining issues are there.

[2020-03-24 22:35] jscholes commented on #947
I don't think this will currently work, for two primary reasons:

1. The necessary infrastructure is not yet available to surface appropriate content for braille users only (e.g. braille-related ARIA attributes).
2. An engine is implemented for speech rules, in terms of translating Math to something users can understand.  But not for braille.

@sinabahram Do you have any more insights about either

[2020-03-24 22:36] jscholes commented on #821
Fixed in https://github.com/benetech/MathShare/commit/9d5e69f58909f0ed8f4cf035a82a5aabf937adbb.

[2020-03-24 22:36] #821 closed

[2020-03-24 22:38] jscholes commented on #793
Fixed in https://github.com/benetech/MathShare/commit/1d87873b0d343171f7ac1ca09fda1c1d067b299d.

[2020-03-24 22:38] #793 closed

[2020-03-24 22:40] jscholes commented on #742
@rupeshparab - Do you have any thoughts relating to:

... and ...

The delay in particular is a severe accessibility issue, as it also ends up interfering with a user's activity if they've already started reading the page content before focus is placed.  The content seems to be ready much earlier than the focus movement occurs.

[2020-03-24 22:43] sinabahram commented on #858
With the editor is a Neil question; however, within the exploration of mathematics, both enter and shift+enter are already defined; however, you are asking directly about being within the edit field of the MathLive component, and my understanding is that this was used for submission, unless if multiline mathematics is allowed.

[2020-03-24 22:45] jscholes commented on #966
We are awaiting comments from @bpmcneilly for both this and #967.  But I can say upfront that if the green bar uses colour alone to indicate any sort of progress, it won't be accessible to a screen reader user so a textual alternative must also be provided.  In addition, care must be taken to ensure that the communication of progress is not inadvertently hidden when users enable a high contrast co

[2020-03-24 22:49] jscholes commented on #967
I'll let @bpmcneilly comment in more detail.  But truncation of any sort makes me nervous.  It isn't always obvious to everyone what is being represented when content is cut off.  Will there be a control to expand the full display (e.g. will the three dots perform this purpose)?

[2020-03-24 22:53] jscholes commented on #984
@benetechMatt Please let us know if you need more information or input on this.  But from our point of view, this is now reviewed, so is maybe awaiting UX review from @alexrcabral?

[2020-03-24 22:54] jscholes commented on #983
CC @bpmcneilly - any further thoughts?

[2020-03-24 22:54] sinabahram commented on #947
Ok, a few things. Technically speaking, James is correct about how this should be ultimately done via aria-braillelabel and possibly also aria-brailleroledescription. Currently, what happens is that NVDA does offer speech and Nemeth in Braille via the MathPlayer 4 software being installed on the computer, for MathML fields of course.

The issue is that I don't believe that is the subsystem being u

[2020-03-24 23:10] jscholes commented on #969
@bpmcneilly may have more thoughts, but a couple of notes from me:

1. The contrast issue discussed in #968 also applies to the "Finish" button here.
2. We need to be careful when disabling buttons which a user has just activated (see below).

#### Inactive Buttons

When a user uses the prev/next buttons in a way which results in the focused one being transitioned to a disabled state, keyboard foc

[2020-03-24 23:23] jscholes commented on #970
#### Intercom Positioning

@benetechMatt already noted the potential for issues with the Intercom component positioning.  Namely, controls could end up being overlapped and hidden.  But just adding padding won't help, because the Intercom Messenger Component is rendered with `position: fixed;`.  This really needs to be addressed so that it follows better responsive practice.

There is also an issu

[2020-03-24 23:29] jscholes commented on #1026
The "Incomplete: and "Completed:" heading text doesn't come across as visually distinct enough, to identify its purpose as heading text.  During implementation, the appropriate HTML heading elements should be used, so this may not end up being an issue.

[2020-03-24 23:35] jscholes commented on #973
@johnhbenetech has already strongly made a case against this.  But just to flag that a student's name is student information, so isn't an alternative to proper authentication in that way.

#### "No Thanks" Text

I'm not sure this is the most usable label, for a couple of reasons:

1. It's non-standard.  Users are accustomed to "Yes/No" or "Cancel" buttons, but not this.
2. The other controls in th

[2020-03-24 23:48] jscholes commented on #974
#### TTS Option

It's really important that the purpose of this function is surfaced for a screen reader user.  There cannot be a case where a user thinks that they need to leave TTS enabled even though they have a screen reader, and then ends up not being able to hear the screen reader because the application is talking.

#### Cancel Mechanism

There doesn't seem to be a "Cancel" mechanism.  We s

[2020-03-24 23:59] jscholes commented on #977
We will await full mock-ups to review this.  But it should be flagged upfront that any additions to the dashboard need to fit into the heading hierarchy, including any new headings as necessary.  All of the best practices implemented so far for list mark-up, etc. also need to be followed.

[2020-03-25 00:06] jscholes opened #1059 "Missing Headings on Dashboard Page"
The main area of the dashboard is now split into three separate sections:

1. "Library"
2. "Recent"
3. "Pre-made Sets"

However, none of these sections have headings to facilitate convenient navigation by a screen reader user.  In addition:

* The label for the library is a graphic, rather than text.
* The text "Library" and "Recent" do not communicate any context about what they relate to.

####

[2020-03-25 00:09] jscholes commented on #977
Related: https://github.com/benetech/MathShare/issues/1059

[2020-03-25 00:10] jscholes commented on #848
Related: https://github.com/benetech/MathShare/issues/1059

[2020-03-25 00:31] jscholes commented on #1024
Really like the suggestion from @NSoiffer.  I think it fits into the teacher/student domain, phrased in a way which more directly addresses the need.

[2020-03-25 00:43] jscholes commented on #1025
If the preview only facilitates a single function, namely copying to an editable context, could it be achieved in a way which cuts out a step?  E.g.:

* when attempting to copy the solve view, ask if the resulting copy should have editing enabled; or
* once the solve view has been copied, have a control to switch it from an assignment to an editing context.

It seems overly complicated to add a wh

[2020-03-25 00:48] jscholes commented on #986
* [Relevant accessible tabs design pattern](https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel)
* [Example of Tabs With Automatic Activation (which this implementation should use)](https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/tabs.html)

CC @rupeshparab

[2020-03-25 00:49] jscholes commented on #986
@rupeshparab Implementation note: the entire tab panel should not receive keyboard focus (have a `tabindex`) as is the case in the linked example.  In MathShare, each tab panel will be filled with focusable buttons, so this isn't necessary.

[2020-03-25 00:53] jscholes commented on #999
Agreed with @alexrcabral here.  @NSoiffer and @sinabahram are best placed to provide input on this issue.  MathShare already utilises speech rules for screen reader users, so if appropriate they could be reused in some fashion.

[2020-03-25 01:00] jscholes commented on #1051
@benetechMatt I think the whole issue of drawing should be tabled for further discussion, as a follow-up to what we discussed on our last call.  However, I do want to stress that many of these mock-ups and behaviour descriptions are using pixels to indicate sizes or other positioning info.  In the majority of cases, the implementation cannot use px values directly, because it will not behave grace

[2020-03-25 17:23] benetechMatt opened #1060 "Add problem number along with the title at the top of the page"
Currently the problem number is not displayed when students are viewing a problem.  This requires users to remember which number they're on.
Add the number to the beginning of the problem prompt

[2020-03-25 17:23] benetechMatt commented on #969
I'm in favor of rotating through problems as it also makes it easier for students to review problems they've already worked on.

Currently the problem number isn't displayed.  This should be added so students know when they have begun looping through the set again. #1060

[2020-03-25 17:24] alexrcabral commented on #966
@jscholes
The colour does not indicate progress nor change over time. Its purpose is to further distinguish between the top portion of the tile (the prompt) and the bottom portion with the solution. The only indication of progress is the existence or lack of a solution at the bottom of the tile, which is inherently textual.

The only issue I could think of there is if it's difficult to differentia

[2020-03-25 18:19] sinabahram commented on #969
Totally agree to this. I just want to flag that it’s critical for students to know current problem number, and also “out of” how many there are.

[2020-03-25 19:35] benetechMatt commented on #1060
![mockup of adding the problem number at the beginning of the prompt](https://user-images.githubusercontent.com/49413678/77577816-76cc9680-6ea5-11ea-916e-8ec24dee2d5e.png)

@sinabahram raised also letting students know out of how many problems https://github.com/benetech/MathShare/issues/969#issuecomment-604004769

![mockup with the problem number stated as '1 of 8:'](https://user-images.githubuse

[2020-03-25 19:45] benetechMatt opened #1061 "Remove intercom button for students"
Currently the intercom button shows up when the user has signed in and indicated they are a student.  The user is not added to the intercom mailing and tracking system.

It's fine if the intercom button still shows up when users are in the help center

[2020-03-25 19:50] benetechMatt commented on #1061
Tested with a student account.  The user is not added to intercom automatically like they are when signing up as a teacher.  Once the user sends us a message they are added to Intercom as a user.  At this point the users name and email is sent to Intercom which is a data privacy issue.

[2020-03-25 19:55] benetechMatt commented on #966
When being read aloud, would it be helpful to first state if the problem has been completed?
Here's an example of what could be read:

Problem 1 Completed
Find the value of x
3x+10=9
Final step is x=3

[2020-03-25 20:16] benetechMatt opened #1062 "Add to Schoology app store"
https://app.schoology.com/apps

[2020-03-25 20:24] benetechMatt opened #1063 "Remove Intercom button from problem solving page"
Should never show up for students. Not needed for teachers when previewing the problem.

[2020-03-25 20:26] benetechMatt commented on #970
We'll remove the intercom button for the problem solving page for all users #1063

[2020-03-25 20:32] johnhbenetech commented on #969
As discussed on call:
* First problem will not render 'Previous Button'
* Last problem will not render 'Next Button'

[2020-03-25 20:32] johnhbenetech commented on #970
As discussed on call:
* First problem will not render 'Previous Button'
* Last problem will not render 'Next Button'

[2020-03-25 20:40] benetechMatt commented on #968
@sinabahram is there an accessibility benefit for a browser popup vs. an in page modal.
We can't control the close window/tab alert message from the browser. Should all app messages be done via a modal or should we send them to a browser alert message?

[2020-03-25 20:54] benetechMatt opened #1064 "Help users that are not signed in save and return to their work"
One idea is adding a "bookmark work" link

[2020-03-25 21:01] benetechMatt commented on #977
**Student Dashboard:**
One section titled "Recent" where all sets the student has worked on will be displayed below the heading.
if not signed in, it asks students to sign in
Remove the "more options" menu on the right side of the set

**Teacher Dashboard:**
top section has
"+ New Problem Set"
"Explore Problem Set Library"

"Recent" section
"Pre-Made Sets" section

[2020-03-25 21:02] benetechMatt opened #1065 "Move "example problem set" to "pre-made sets" list"

[2020-03-25 21:02] benetechMatt commented on #977
#1065

[2020-03-25 21:15] benetechMatt opened #1066 ""preview" mode when teachers share their set link with other educators, the library, or on social media"
building off  #1025

[2020-03-25 21:17] johnhbenetech commented on #1025
So final decision from call:

* Create a new 'preview' view that is read-only with the info message Matt described
* The user can click into a problem to preview it as well, but no editing is allowed there either
* Once a user hits Copy Set it brings them to their own copy of the edit version
* Preview becomes the default action for all sets in the 'Pre-made sets' section

[2020-03-25 22:34] sinabahram commented on #1025
this line raises concerns:

The user can click into a problem to preview it as well, but no editing is allowed there either

“”

May I suggest that for any feature, what-so-ever, there be established a keyboard and mouse way of achieving the action at a minimum?

Clicking into something implies making it a link or a button, but if that something is mathematics and you expect exploration to be supp

[2020-03-25 22:43] johnhbenetech commented on #1025
@sinabahram might have been a vocabulary issue on my side. This will be afforded in the same way problem sets are afforded on the dashboard today (through both click and keyboard navigation). Now, instead of bringing you to the 'solving' view it will go to the new read-only view. Please correct me if I misunderstood your comment. I'll try to be more explicit going forward.

@benetechMatt Let me kn

[2020-03-25 23:24] jscholes commented on #968
@benetechMatt For consistent messaging which you control, an in-page modal is your only option.  If the modal is implemented properly (see below), the browser's default offers no advantages.

If you're asking a question which has a binary choice answer (plus cancel), I'd strongly recommend using "Yes" and "No" as the button labels, plus allowing Alt+Y and Alt+N shortcuts for users who expect them

[2020-03-25 23:29] sinabahram commented on #1025
I don’t think it’s a vocabulary issue. I’m happy for you to use click and for it to mean click or hit enter, but what I’m saying is that we haven’t solved the case that you reference. Neil and I went back/forth on it a lot, but I don’t recall us landing on a satisfactory solution.

[2020-03-25 23:37] jscholes commented on #1025
@johnhbenetech I think @sinabahram's concerns revolve around how the math content will be accessibly surfaced in a read-only context, if the current accessibility affordances rely on (or at least assume) an editable area.  Sina, correct me if I'm wrong on that.

[2020-03-25 23:40] sinabahram commented on #1025
James, kind of but not an editable region.

Let’s start from the basics, and then it’ll be clear.

MathML will be used to display the problem, yes?

This MathML will be shoved inside of a what? A link? A button?

Now, after answering the above, you can see the problem. How does one activate said link or button if one’s screen reader intercepts the key to enter math navigation mode?

Note, NVDA beh

[2020-03-25 23:40] jscholes commented on #977
@benetechMatt Do note the assertion from #1059 that "Recent" isn't descriptive enough.  It could apply to problems, problem sets, both, neither, or something else entirely.  Even just "Recent Sets" is better.

[2020-03-25 23:43] jscholes commented on #1025
@sinabahram I think that's where the vocab issue may have come into play.  When I read:

... I don't think that means they can click into the math content in some way.  I just assume it means, click a problem within the list of those in a set.  The MathML content will just then be rendered as normal, in a non-editable way.

My assumption is based on the fact that I don't understand what clicking t

[2020-03-25 23:43] johnhbenetech commented on #1025
Gotcha, thanks for clarifying both.

@sinabahram I guess we currently have a similar "read-only" view seen here:
[Read Only View of Student's Work](mathshare-qa.diagramcenter.org/#/app/problemSet/review/KPFLGY2DX55GE)

I dont recall either where we wound up on this in the remediation, but I can dig through stuff to see if I can jog my memory.

[2020-03-25 23:47] jscholes commented on #1064
How do you envisage this working?  In a recent announcement, Apple indicated that web apps will not be allowed to store local data for longer than seven days:

https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/

So the best approach would probably be to tell users that MathShare will work with their browser's standard bookmarking/favourites system (obviously ensuring that suc

[2020-03-25 23:51] jscholes commented on #970
@johnhbenetech The buttons won't be rendered at all?  Or they'll be present but disabled.

[2020-03-25 23:54] jscholes commented on #966
I'd say it definitely needs to be indicated if it is visually obvious.  That could be via text directly indicating completion state, and/or headings to separate the prompt from the solution.  Many users won't be used to interacting with math content, so anything we can do to signpost meaning and context is welcome.

[2020-03-25 23:57] jscholes commented on #1060
This should be pretty straight forward, because the page title already indicates "Problem X of Y".

[2020-03-25 23:59] johnhbenetech commented on #970
@jscholes I believe @alexrcabral asked them to not be rendered at all. Alex correct me if I'm wrong

[2020-03-26 00:01] jscholes commented on #969
Appreciating that we weren't able to join today's call, I'd still like to understand the thinking behind the decision and exactly how it will behave.  We seem to have gone from disabled buttons, to endless rotation, to no buttons at all, in a fairly short period of time.  If the prev or next button simply won't be rendered for the first or last problem, focus will stillneed to be managed when the

[2020-03-26 00:04] jscholes commented on #970
@johnhbenetech Thanks for clarifying.  See https://github.com/benetech/MathShare/issues/969#issuecomment-604152105.

[2020-03-26 00:05] johnhbenetech commented on #969
Assigning to @alexrcabral for comment

[2020-03-26 00:18] sinabahram commented on #1025
Yup, exactly. That’s what I’m talking about. So, if you go to a problem set, and you see the 7 problems as links in an unordered list, you can see what I’m saying.

The math does read correctly e.g. find the product of, and then it reads me the fraction, etc., but I cannot explore that mathematics, because it’s a link. So, the moment I hit enter on it, it navigates me to that problem.

The bad new

[2020-03-26 00:24] jscholes commented on #1025
@sinabahram Okay, this makes sense, so thanks for explaining in full.  It will apply in all problem set views which link to problems, regardless of whether the context is read-only or not.

[2020-03-26 00:51] benetechMatt commented on #1001
Changing stop button to a stop icon of a square.,
![stop button with icon as a square stop icon.  White square in a black circle](https://user-images.githubusercontent.com/49413678/77599179-e9ec0200-6ed1-11ea-8dce-0b2a9cee94e0.png)

[2020-03-26 00:55] benetechMatt commented on #995
As shown in https://github.com/benetech/MathShare/issues/1001#issuecomment-604165659. No need to update the previous mockup.
button is changed to a stop icon.
If the user stops and then plays the audio it will restart from the beginning of the section.

[2020-03-26 01:07] benetechMatt commented on #1000
Pause/stop button changing to a stop icon as shown https://github.com/benetech/MathShare/issues/1001#issuecomment-604165659

@alexrcabral @jscholes should the Speak labels be tailored to the use.  Speak step, speak prompt, speak text.  Or should all TTS buttons have the same "speak text"

For the stop button I'm assuming "stop speaking" works.

[2020-03-26 01:12] benetechMatt commented on #973
We'll borrow the same modal as used when users sign up and modify the text as suggested by Alex.
Mathshare logo at top
"Save where you left off, sign in"
Google Sign in button, Microsoft Sign in button
Continue without signing in link

[2020-03-26 01:18] benetechMatt commented on #973
made the "continue without signing in" link a smaller font size and right aligned to visually give it less emphasis

![Mockup of sign in modal. 'Save where you left off, sign in'](https://user-images.githubusercontent.com/49413678/77600323-91b6ff00-6ed5-11ea-8836-1daf1cdcf92c.png)

[2020-03-26 01:21] benetechMatt opened #1067 "Changes to sign in modal"
Remove "log in" text. Only have "Sign in"
Right align "continue without signing in" text and make it slightly smaller than the main text.
Remove extra space at bottom

![mockup of new sign in modal. changes text to only say "sign in". visually de-emphasizes "continue without signing in" link at the bottom by decreasing font size slightly and moving from center to right align](https://user-images.g

[2020-03-26 01:22] benetechMatt commented on #1067
related to #973

[2020-03-26 01:38] #975 closed

[2020-03-26 01:47] benetechMatt commented on #966
@jscholes would the example I put in the previous step meet those needs?
@alexrcabral I'm thinking it would make sense to add TTS for the problem cards. One button to have the whole card read aloud and having it read similar to how it would for screen reader users as its going through multiple lines

[2020-03-26 02:37] sinabahram commented on #966
How are you going to generate the speech for this? As in, how is the mathematics going to be encoded as text to send to the TTS, using SRE?

[2020-03-26 02:53] jscholes commented on #966
This is the problem set view, so shares concerns raised and discussed in https://github.com/benetech/MathShare/issues/1025.

I also take issue with this:

This is non-standard behaviour.  If something is grayed out, people don't expect clicking it to do anything.  And people don't expect links to be grayed out full-stop, which is why an `<a>` element in HTML doesn't support the disabled attribute.

[2020-03-26 02:55] jscholes commented on #966
However, I do need to stress that I'm only addressing the surfacing of completion state here.  How users should interact with math within problem links is out of scope for this thread, but very much related and an open problem.

[2020-03-26 03:09] benetechMatt opened #1068 "Efficacy survey for grants"
Need to measure student success for two grants.  Measuring self-efficacy is acceptable measure for this. Needs to be built into Mathshare

[2020-03-26 12:56] benetechMatt commented on #1068
@alexrcabral  How many and what kinds of questions would we need to ask?

[2020-03-26 13:21] benetechMatt commented on #966
@jscholes will not be doing the grayed out text/box

@alexrcabral adding all of the proposed copy for all users seems overwhelming. Not having it would be an issue for TTS synchronized highlighting.  Suggestions?

[2020-03-26 15:03] jscholes commented on #966
@benetechMatt I do wonder if we're trying to cram too much functionality into a single screen.  This is a listing view, but we're already saying that it must have:

1. Math that can be accessibly explored by a screen reader user even though it's in a link;
2. TTS functionality;
3. the solution to a problem if it's been completed;
4. an accessible indication of completion; and
5. an accessible reor

[2020-03-26 15:05] jscholes commented on #966
If all of this functionality does make into the problem set listing, we can make it accessible.  But the current simple unordered list of links may have to be exchanged for a different pattern.  For example, a heading for each problem title which is the link, a reviewable MathML area underneath, etc.

[2020-03-26 17:41] benetechMatt opened #1072 "Change "share permalink" to "share link""

[2020-03-26 17:42] benetechMatt opened #1073 "Clearer wording on how to retrieve your work"

[2020-03-26 17:46] benetechMatt opened #1074 "Add "Other" user option"
In addition to "Student" and "Teacher" roles when signing up, add "Other" as an option.

This role has the same dashboard and abilities as Teachers.

"Other" users should be added to Intercom and have their role as a "Other" so we can send relevant messaging

[2020-03-26 19:08] benetechMatt commented on #966
For this issue, we won't enable built in TTS.
None screen reader users can tell which problems are completed by seeing the final step equation in at the bottom of the link with a green background.
Screen reader users have the first line read out as "Problem x completed", then the question, equation, and final step equation

Mockup as shown in https://github.com/benetech/MathShare/issues/967#issuec

[2020-03-26 19:17] bpmcneilly commented on #967
I'll agree with @jscholes about the truncation as a potential problem.

For users who magnify screens / enlarge text a problem title could easily be more than two lines, and a similar situation could occur for solutions.

This dovetails with #966, but is the function of having the answers to both show users that they have finished a problem and to simultaneously allow them to quickly check their a

[2020-03-26 19:22] benetechMatt commented on #1056
already resolved in QA

[2020-03-26 19:22] #1056 closed

[2020-03-26 19:24] benetechMatt commented on #712
addressed by #1025

[2020-03-26 19:24] #712 closed

[2020-03-26 19:26] benetechMatt commented on #1063
duplicate #1061

[2020-03-26 19:26] #1063 closed

[2020-03-26 19:30] bpmcneilly commented on #966
Based on the amount of information we're talking about in this view, I think I'm in line with @jscholes about adding a separate pattern for organizing the problem set listings.

While TTS isn't being required, there is still a lot of content being conveyed in each card, enough that I think we may need to rethink the unordered list. Using problem titles as headings and links to begin each card coul

[2020-03-26 19:34] benetechMatt opened #1075 "Link to privacy policy app footer"
Add a link titled "Privacy Policy" to the dark gray footer.
URL https://mathshare.benetech.org/#/privacy

Placed between the Youtube link and the copyright text. Add padding of 10px to both sides
![screenshot with an arrow pointing to where the text will go in the footer](https://user-images.githubusercontent.com/49413678/77689170-3a656d00-6f6f-11ea-865f-d8ff0edee6c0.png)

[2020-03-26 19:37] bpmcneilly commented on #966
Also, to follow up on @benetechMatt's previous comment, would the 'Problem x completed' be displayed visually, or off-screen? If we're taking an approach where we're adding more structure to these cards, this message could be added visually above the solution mathML to help cement the purpose of the content on the screen.

While the visual spacing between initial problem & solution helps to distin

[2020-03-26 19:38] jscholes commented on #966
Agreed with @bpmcneilly.  In addition, @benetechMatt if the only thing we remove is the TTS button, it feels like we haven't significantly made the view any easier to digest, while irritating any user who needs that button to read the math.  They'll now need to activate the problem link, even though everyone else doesn't need to.

So, in summary, either:

* keep the unordered list, but significant

[2020-03-26 19:57] bpmcneilly commented on #1026
Looking through this, having just been thinking about #966, as @jscholes and I have mentioned the information density of including the problem solutions, would it be possible to use these same icons for completed sets & completed problems?

The check icon currently suggested as a solution to indicate completion could be reused, creating some consistency in identifying what is completed, while also

[2020-03-26 20:30] bpmcneilly commented on #1001
From a visual standpoint, my only comments about these buttons are that the currently displayed "hover state", where an outline is provided to the buttons, should also be applied as a visual indication of keyboard focus.

[2020-03-26 21:55] bpmcneilly commented on #968
One thing I'll add about the modal accessibility is thinking through the focus order of the options for the dialog. Currently, as each button is rendered on the same line, users reading left to right will encounter the options as:
1. No (currently in the pictured mock-up as 'Don't Save')
2. Cancel
3. Yes (currently in the pictured mock-up as 'Save')

As focus will be moving directly to the Yes but

[2020-03-26 21:56] benetechMatt opened #1076 "Change homepage to the wordpress version"
Replace the current. homepage with the wordpress run version taht Marketing has created.

development version at https://mathsharedev.benetech.org/

[2020-03-26 21:56] bpmcneilly commented on #995
For the individual step buttons, I just want to confirm that the accessible names for these icons buttons are unique for each step.

I'll defer to @jscholes here, but my gut reaction would be to name these buttons something like "Step [number] Text to Speech", and then use an `aria-pressed` attribute to toggle the state.

[2020-03-26 22:21] bpmcneilly commented on #1027
Taking a look at this mock-up, I think this goes here and not #1055, but please correct me. From a visual stand point the first thing I was thinking about was the accessible names for the Quick Settings toggles. As each toggle takes a label from the relevant setting and the text "Display in Quick Settings", the best means of creating an accessible label is to use `aria-labelledby` and a series of

[2020-03-26 22:27] bpmcneilly commented on #1027
Similarly, the current table-style layout may prove challenging to mesh with #980, on small screens this could result in either users needing to scroll horizontally to get access to these toggle buttons, or breaking across lines, at which point the visual table heading connections are lost.

For desktop users who magnify their screens, tabbing to these controls may be confusing at first. Currently

[2020-03-26 22:38] bpmcneilly commented on #983
Looking at the mock-up, is there an intended difference between the white & off-white backgrounds? I'm not sure if that's intentional or not, because they're really similar in color, but it looks like the left side of the equations is white `#ffffff` while the other side is the standard background off-white `#fcfcfc`.

[2020-03-26 22:54] bpmcneilly commented on #987
Taking a look at the mock-ups for the new tab interface, currently the selected tab appears to be presented to users with just a background color change. The currently selected tab should be distinguished visually by another means, beyond just color. A prominent underline, or a change in visual style (size, font weight, italics) could all be options.

Additionally, the "Dictate" and "Explain your

[2020-03-26 22:57] jscholes commented on #1076
@benetechMatt This doesn't seem to take into account almost any of the accessibility work done on the previous home page, even though it is surfacing much of the same content.

[2020-03-26 23:10] jscholes commented on #995
@bpmcneilly Sounds good to me.  Maybe "Speak Step N", if we're going for an actionable theme for button text.  I like `aria-pressed`, because that update in state will be announced by a screen reader whereas a change in button text isn't guaranteed to be.

[2020-03-26 23:13] jscholes commented on #968
Absolutely agreed with @bpmcneilly.  The current order will be super nonstandard, and the default focus should come first.

[2020-03-26 23:20] bpmcneilly commented on #984
I'll just add one small thing. The white (`#ffffff`) icon used for the "Next Step" button has insufficient color contrast on the light blue (`#6e9eeb`) background. Changing this to be black (`#000000`) like the button text will ensure sufficient color contrast, and a consistent display of text & icons.

[2020-03-26 23:29] benetechMatt commented on #1068
https://edtech.digitalpromise.org/collect-data/

[2020-03-27 01:20] alexrcabral commented on #1000
See @bpmcneilly and @jscholes comments on #1001

[2020-03-27 13:30] benetechMatt opened #1077 "Send problem or set via email"
Students and educators can directly send an email with a link to individual problems or sets from within mathshare.
“Email” button
Input field for the email address
Send button

Email addresses are saved and listed below the input box so users don’t have to retype every time.  Helpful for students when sending problems to the same teacher during the course.
Ability to remove recent email addresses

[2020-03-27 15:29] johnhbenetech opened #1079 "Display Layout issues on sign-up page"
Strange button placement. On firefox during sign up process (havent tested other combinations yet)

![screenshot of overlapping buttons](https://user-images.githubusercontent.com/12927553/77772261-d6e24a80-7015-11ea-8a05-bfa63399d577.png)

[2020-03-27 16:09] benetechMatt opened #1080 "clearer language on add problem modal"
Some users think they are supposed to enter a problem number, equation, and title under the headings instead of the math editor because the fields don't line up. Change "Title" to "Prompt
Remove "#" as it confuses some users

[2020-03-27 16:14] benetechMatt commented on #1072
Unauthenticated users
Share: [link] [Google Classroom] [Microsoft Teams]

Signed in teacher
Assign: [link] [Google Classroom] [Microsoft Teams]
Share with teachers:  [link] [email]

signed in student
Turn in: [link] [Google Classroom] [Microsoft Teams]

[2020-03-27 16:41] rupeshparab commented on #1079
Was able to replicate the issue on Firefox, have fixed the CSS for firefox

[2020-03-27 20:27] johnhbenetech commented on #762
@benetechMatt We need a final decision on this to wrap this up.

The options seem to be:

1. Keep the current approach, where the button/icon stays in the problem tile, but just change the alt/label to "View Sketch for Problem 1" etc

2. Move the 'View Sketch for Problem 1" into the three dot menu on both the edit/solve view. It would be the only option in the menu in the solve view.

Please let u

[2020-03-27 21:07] jscholes commented on #762
To be clear, these options are technically correct, but we would struggle to sign off on `#2` unless additional options are planned in the immediate future for the dropdown on the solve view.  Adding an extra click just to view a single-option menu has no net benefit.

[2020-03-27 21:14] benetechMatt opened #1082 "Create content for "Getting started" page"

[2020-03-27 21:14] benetechMatt opened #1083 "Add "Getting Started" to top navigation bar"
Create the page similar to how the privacy policy is done
Add the link to the top navigation bar
dependent on #1082 for content
Link must be trackable via google analytics

[2020-03-27 21:15] benetechMatt commented on #1083
dependent on #1082 for content

[2020-03-27 21:26] benetechMatt opened #1084 "Add vertical padding between items in the help menu"
Menu items in the help menu are visually cramped and can make selection difficult for some users. Add 4px of vertical padding to the top and bottom of menu items in the help menu
![screenshot of open help menu](https://user-images.githubusercontent.com/49413678/77801908-c8148b80-7047-11ea-8044-eb8813fbcc1f.png)

[2020-03-27 21:28] benetechMatt opened #1085 "Change "new problem set" to "Create a problem set""

[2020-03-27 21:29] benetechMatt commented on #1085
This makes the copy actionable
![mockup of with text change on the button](https://user-images.githubusercontent.com/49413678/77802038-0d38bd80-7048-11ea-863d-c6c8aea09a09.png)

[2020-03-27 21:35] benetechMatt commented on #1083
![Mockup with "getting started" link of white text and an underline next to the help menu button in the top navigation bar](https://user-images.githubusercontent.com/49413678/77802405-c7302980-7048-11ea-978f-9fc3b0779b4f.png)

[2020-03-27 21:36] benetechMatt commented on #1083
Link must be trackable via google analytics

[2020-03-27 21:38] benetechMatt commented on #1065
Example problem set should be at the first item in "pre-made sets"

[2020-03-27 21:39] #1072 closed

[2020-03-27 21:51] benetechMatt opened #1086 "Changes to share options"
In an effort to make it easier for students to turn in answered problem sets and for teachers to share sets with students AND with other teachers we are making these changes to the sharing process.

Currently there is a row of buttons for sharing work (permalink, google classroom, microsoft teams).  These have different URLs and actions based on whether the user is on the /edit /solve /answered ve

[2020-03-27 22:38] benetechMatt opened #1087 "Update accessibility doc"
Update chart
https://docs.google.com/document/d/1vYi8n9hvhBzdRayOC-grRn4j8KnFM7RB9R2aM77tjDc/edit

Add link to feedback form

[2020-03-27 22:39] benetechMatt opened #1088 "Create FAQ and videos on how students can create, solve, and share problem sets"

[2020-03-27 22:39] benetechMatt opened #1089 "Students can easily create and solve their own problems"

[2020-03-27 23:41] benetechMatt opened #1090 "Remove "more options" menu and add "duplicate" button in it's place"

[2020-03-27 23:41] benetechMatt opened #1091 "remove "share to twitter" link"
Remove the "share to twitter" link from the "More Options" button.
1. Dashboard more options on each problem set
2. Problem set page next to the set title

This feature has not been used and is not something we want to have displayed for students.  For simplicity we are going to remove it completely. Will evaluate the benefit of social media sharing for teachers in the future

[2020-03-28 00:26] benetechMatt commented on #1090
Issue #1091 removes the "share to twitter" button.  This makes the "more options" button unnecessary in the problem set view because it only has one item, "duplicate".

For the 5 different views (including the preview view #1025 )

Edit view:
Edit icon for editing the title

Solve view:
No edit icon for editing the title
Duplicate button

Review view:
no duplicate or edit buttons

Preview view:
Du

[2020-03-28 00:55] benetechMatt opened #1092 "Remove math tools palette customization step for students"
When students create a problem set, the math tools customization modal should not be displayed.  This is a confusing step for most users and unnecessary for students at this time.  Future changes will address the need for students to customize their math tools.

The palette remains for teachers/parents/unauthenticated users.

[2020-03-28 01:17] benetechMatt commented on #1025
@johnhbenetech let's hold on this as we move forward with #1086 which provides an alternative to this while we make it easier for students to create and complete problem sets

[2020-03-28 01:26] benetechMatt commented on #1080
![screenshot of the modal for adding problems.  no problems have been added.](https://user-images.githubusercontent.com/49413678/77811433-3406ec00-7068-11ea-979b-22a2a16dc689.png)

One solution is to align the headings with their math editor. Add the problem number to the left of the equation editor field. Decrease the spacing between the headings and the math editor when no problems have been add

[2020-03-28 01:33] benetechMatt commented on #1073
@alexrcabral you suggested telling users to bookmark their work whenever they save it. Can you elaborate on that

[2020-03-28 01:36] benetechMatt commented on #1073
from #1064
@benetechMatt
One idea is adding a "bookmark work" link

 @jscholes
How do you envisage this working? In a recent announcement, Apple indicated that web apps will not be allowed to store local data for longer than seven days:

https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/

So the best approach would probably be to tell users that MathShare will work with their

[2020-03-28 01:36] benetechMatt commented on #1064
moving to #1073

[2020-03-28 17:26] benetechMatt commented on #829
there are two lines of text saying similar things for the sign in and sign up.
Sign in page:
Currently the sign in page says "Sign in" and on the next line "Login using"
Change to "Sign in using" only

Sign up page:
Currently the sign up page says "Sign Up" and on the next line "Sign Up using"
Change to "Sign up using" only

[2020-03-28 17:30] benetechMatt commented on #1057
reviewed and works as expected

[2020-03-28 17:30] benetechMatt commented on #1061
reviewed and works as expected

[2020-03-28 17:39] benetechMatt commented on #1079
Is there a way for me to view the page without signing up with a new account?

[2020-03-28 17:43] benetechMatt opened #1093 "Make explaining steps optional for users when they are completing steps to problem sets they created."
This is aimed at students and unauthenticated users that may be students that want to use Mathshare on their own.
If a student or unauthenticated user adds steps to a set that they did not create they should be required to explain the step.

[2020-03-30 20:25] alexrcabral commented on #1093
This is a step in the right direction, though it doesn't solve the larger underlying problem. Ultimately this should be a toggleable control on the problem set level. Whoever "owns" the set that is being solved should dictate whether an explanation is required, with the default of it being non-required.

@benetechMatt If this a difficult change to do now on the product/technical side we can push t

[2020-03-30 20:52] alexrcabral opened #1094 "Allow step descriptions to be optional with a toggle"
Problem: As a student who is familiar with the steps of a particular type of problem, I am frustrated and waste time when trying to explain my steps where it's not needed.

Solution: It should not be required to enter an explanation unless explicitly required by the problem set creator.

Ultimately this should be a toggleable control on the problem set level. Whoever "owns" the set that is being s

[2020-03-30 20:52] alexrcabral commented on #1093
Update: having the larger problem set controls runs into issues with differences between controls of different views (teacher vs student vs unauthenticated user). Adding a new issue #1094

[2020-03-31 17:26] johnhbenetech opened #1100 "Bug loading recent problem sets"
I'm not sure exactly which commit caused this, but in testing recent changes I found a significant bug blocking the loading of  problem sets. JS console output below
[code]

[2020-03-31 17:27] rupeshparab commented on #1100
it should work now, just pushed a fix for it in https://github.com/benetech/MathShare/pull/1099

[2020-03-31 17:30] johnhbenetech commented on #1100
confirmed

[2020-03-31 17:30] #1100 closed

[2020-03-31 20:06] jscholes opened #1101 "Dashboard: renderExample returns a single-item list"
As the example set has now been moved into the pre-made section, the button to create a new set is now located inside a single-item list which is not semantically correct.

[2020-03-31 20:15] jscholes commented on #1059
Fixed in https://github.com/benetech/MathShare/commit/2889ee3b29a657878cca92bba8ce38fc86260913.

[2020-03-31 20:15] #1059 closed

[2020-03-31 20:18] jscholes commented on #767
@benetechMatt and @alexrcabral - Just following up on this, because other tickets such as https://github.com/benetech/MathShare/issues/770 also depend on it.

[2020-03-31 20:20] jscholes commented on #742
@rupeshparab Any chance we can move this up on the roadmap?  It is a critical issue for all screen reader users, whether students or staff, and could also have an impact on lots of other users too.  It is confusing for focus to move after such a lengthy delay, when many users may have already started navigating or interacting with the page content.

[2020-03-31 21:04] johnhbenetech opened #1103 "Prepare selenium tests for load testing"
Create a Selenium test that does the core user workflow:
* Create a problem set with a few problems
* Generate assign link
* Visits solve URL
* Adds/Saves steps to a few problems
* Generate submit URL
* View read-only version

[2020-04-01 04:56] NSoiffer commented on #1035
An important thing to note that is that solving long division problems is left-to-right: you enter the most significant digits first and work towards the least significant digits. You do this both for the intermediate steps and for the result.

[2020-04-01 16:06] benetechMatt commented on #767
@jscholes, @alexrcabral and I will need to revisit this in a week

[2020-04-01 19:25] benetechMatt commented on #1012
![updated mockup. checkboxes instead of toggles. shows full list of eight different settings to change and a second column label of "Display in Quick Settings" ](https://user-images.githubusercontent.com/49413678/78177934-80657980-7424-11ea-87be-70440ae1b21f.png)

[2020-04-01 19:31] benetechMatt commented on #1068
per conversation with KP about using efficacy surveys and a change in grant requirements we're putting a hold on this

[2020-04-01 19:53] benetechMatt commented on #737
@johnhbenetech here are three URLs that I have received so far.  Can they be retrieved and made accessible in the new Mathshare?
https://mathshare-staging.diagramcenter.org/#/problemSet/view/TIYT4URT4H5FK
https://mathshare-staging.diagramcenter.org/#/problem/view/FNODZJ5TBGD3C
https://mathshare-staging.diagramcenter.org/#/problem/view/IEL2NBIBRL2KM

[2020-04-01 20:04] johnhbenetech commented on #737
@benetechMatt If you think you can get the actual content (like what the problems were) that would be easiest. I'll dig around in the database and see what I can find

[2020-04-01 20:44] benetechMatt commented on #1093
In discussion with John and Alex.
Historical default is all steps require an explanation.
A modal will show up when assigning/sharing the set. Has a checkbox asking if you want to require explanation.

add mockup

[2020-04-01 21:02] benetechMatt opened #1105 "add types for "other" users"
connected with #1074
- parent
- tutor
- AT specialist
-

[2020-04-01 21:03] benetechMatt commented on #1074
Change the category to "Other" instead of "Parent"
Add user to Intercom, indicate they are an "other" user type
Take user directly to the dashboard instead of asking what grade/role as is done for "Teacher" users

[2020-04-01 21:15] benetechMatt commented on #1031
![image](https://user-images.githubusercontent.com/49413678/78187120-7e56e700-7433-11ea-8fe1-236a658cfdf8.png)

Tab order top to bottom, left to right

In the current prompt bar we're adding the current "back to all problems" button, prompt, save button, and saved at time stamp
What is the best HTML element to use for this bar and what is your opinion on what the "skip to main content" should focu

[2020-04-01 23:42] alexrcabral commented on #1074
Added to this issue: We need to be able to differentiate between logged-in and not-logged-in users.

The primary purpose of the log-ins right now is to give us insight into who is currently using Mathshare and how they're using it -- e.g. workflow differences in authenticated vs. unauthenticated users.

On first sign up, users should be given a token identifier "T", "S", "O"(Teacher/Student/Other)

[2020-04-02 01:13] alexrcabral commented on #1012
@benetechMatt light lines would be best -- zebra striping could get distracting.

The idea is that the toggles would be for the settings themselves, which would change immediately, and the checkboxes would be for the quick settings, which would be saved.

Part of why they need to be different is so they're easily differentiable between the columns. This would also help regarding your question of t

[2020-04-02 14:52] johnhbenetech commented on #839
I'm gonna close this until we hear otherwise

[2020-04-02 14:52] #839 closed

[2020-04-02 14:56] johnhbenetech commented on #1083
awaiting content

[2020-04-02 14:58] johnhbenetech commented on #1029
For now i'll change this task to just removing the text button. We will look at #1030 once we have input from @NSoiffer

[2020-04-02 15:19] johnhbenetech commented on #964
@benetechMatt I want to do this in coordination with #1074

We need the language to show on the sign up page to opt-out including informing users of what we track

[2020-04-02 15:25] johnhbenetech commented on #1074
Hi @rupeshparab I added a custom dimension for google analytics called "UserType" we can also send a "UserType" value to Intercom

Let's go with:
Teacher
Student
Other
OptOut
Undefined

Note: if you look at #964 we will add an option for user to opt out of usertype tracking. "OptOut" will be used for those users and "Undefined" will be used for unauthenticated users

[2020-04-02 18:08] rupeshparab commented on #742
I tried reducing the wait time, on voiceover it causes the title to be interrupted midway and the level 1 heading starts. Will check if there is any way to prevent the live region speech be overridden when the focus moves.
Will also try both of the issues on NVDA

[2020-04-02 18:23] jscholes commented on #742
@rupeshparab NVDA won't interrupt itself like VoiceOver.  But what if you do the focus movement first?

[2020-04-02 21:32] alexrcabral commented on #974
As an update from the call today, this is being moved to the story on TTS personalization settings #1004. (Not worth the added modal and potential barrier after signing up for minimal personalization settings)

[2020-04-02 21:44] benetechMatt opened #1107 "Customize TTS characteristics for math and text"
users can change the speed, pitch, voice settings for math and separately for text.

[2020-04-02 21:50] alexrcabral commented on #1005
Updates from call today:
1) Separate settings for math vs text (rate, pitch, prosody/volume, pauses)
2) Verify standards on speaking out math (eg ClearSpeak) for the default

[2020-04-02 21:57] alexrcabral commented on #1006
Everyone in agreement on call today to change this to a slider.

@benetechMatt is updating the mockup to a slider with the labels on either side as "Slowest" to "Fastest" (left to right)

[2020-04-02 23:15] benetechMatt commented on #1006
![mockup of slider with the setting name on the left. The slider has a label on the left that says "slowest" and a label on the right that says "fastest"](https://user-images.githubusercontent.com/49413678/78308349-e0841a80-750d-11ea-844d-58521043b570.png)

[2020-04-02 23:36] benetechMatt commented on #737
Full list of problem sets

- https://mathshare-staging.diagramcenter.org/#/problemSet/view/TIYT4URT4H5FK
- https://mathshare-staging.diagramcenter.org/#/problem/view/FNODZJ5TBGD3C
- https://mathshare-staging.diagramcenter.org/#/problem/view/IEL2NBIBRL2KM
- https://mathshare-staging.diagramcenter.org/#/problemSet/view/F77PURS2BYTZS
- https://mathshare-staging.diagramcenter.org/#/problem/view/HJIIQM

[2020-04-03 00:45] alexrcabral commented on #1107
As a note from the originating issue #1005, prosody is part of the "volume" control
(an aspect of change in volume over part of speech/math)

[2020-04-03 03:45] benetechMatt commented on #1094
![mockup of modal for share a link to the problem set.  ](https://user-images.githubusercontent.com/49413678/78322181-9a41b200-7533-11ea-92f6-565855f4a369.png)

[2020-04-03 13:51] benetechMatt commented on #1094
This sharing modal appears when users (teachers) select the "share problem set" button. Below the title and explanation there is the label and checkbox that would require anyone this problem set to explain each step.

Heading: Share Problem Set
below the heading is an explanation of why these links should be used vs. the "share answers" button.

- Allows students to answer questions
- Allows educa

[2020-04-03 15:40] rupeshparab commented on #742
@jscholes
Right now the focus movement is on basis of trial and error
There is a retrial mechanism which tries to find a focusable element and if it is not able to find it (in cases where view has not rendered), it will sleep for a few ms before retrying. This sleep time increases after every retrial. I can reduce the amount of sleep, but it cannot guarantee that this focus will happen before the

[2020-04-03 15:57] benetechMatt commented on #1032
duplicate issue of #1057

[2020-04-03 15:57] #1032 closed

[2020-04-03 15:58] jscholes commented on #742
@rupeshparab That's fine; we don't really need to work around a VoiceOver-specific thing.  The critical issue to resolve is the long delay between the two announcements, so that the focus movement doesn't happen after several seconds.

Having said that, I don't understand why such a long delay is ever being reached.  In all of my testing, the heading to receive focus has been present in the DOM lo

[2020-04-03 15:59] benetechMatt commented on #1093
Closing this issue and accomplishing goal via #1094

[2020-04-03 15:59] #1093 closed

[2020-04-03 16:01] benetechMatt commented on #857
removing from the March Remote learning milestone as #1094

[2020-04-03 16:04] benetechMatt commented on #1088
merging with #1082

[2020-04-03 16:22] rupeshparab commented on #742
right, I too think the retrials might be increasing the sleep too much
will set a max beyond which the sleep time should remain constant

will check if that decreases the delay

[2020-04-03 16:46] jscholes commented on #1031
@benetechMatt The problem needs a main level 1 heading, and the bar of problem-specific controls must appear after it.  So the heading should be the target of the skip link, as on every other page.

In terms of mark-up for the nav bar, it should follow the accessibility advice already set out for the header included on non-problem pages.  It will be best for @rupeshparab to start working on this i

[2020-04-03 16:48] jscholes commented on #1076
@benetechMatt Please let me know if you need us to do a review of this page and enumerate the issues.  A lot of the applicable accessibility principles have already been filed as tickets and discussed here on GitHub.

[2020-04-03 16:52] jscholes commented on #1086
We haven't been assigned for a11y review as yet, but "what's this?" is not a descriptive link label.  I want to surface that now so that an alternative can be decided on before we review it properly.

[2020-04-03 20:25] alexrcabral commented on #973
@benetechMatt The copy on this final mockup differs from the final mockup in #1067. Which is the true final version?

[2020-04-03 20:32] alexrcabral commented on #1086
@benetechMatt Isn't this changed from the call this morning?

Separate section for problem set creators with problem set level controls. A three dot menu on the problem set (for all users) which contains the share problem set option.

@jscholes & @benetechMatt Would a link labeled "Sharing FAQ" be more appropriate?

[2020-04-03 20:42] alexrcabral commented on #1080
That described solution is fine. Listing for clarity's sake:

1. "Title" should be changed to "Prompt"
2. The heading "Equation" should be moved to the left to align with the main math box below it
3. The updated heading "Prompt" should be moved to the right to align with the prompt box.
4. All three headings -- "#", "Equation", and "Prompt" -- should be moved closer to the entry boxes (decreased

[2020-04-03 20:46] alexrcabral commented on #1090
@benetechMatt Isn't this changed from the call this morning?

Separate section for problem set creators with problem set level controls. A three dot menu on the problem set (for all users) which contains the share problem set option.

[2020-04-03 20:49] alexrcabral commented on #1094
@benetechMatt Isn't this changed from the call this morning?

Separate section for problem set creators with problem set level controls. A three dot menu on the problem set (for all users) which contains the share problem set option.

[2020-04-03 21:22] alexrcabral commented on #1087
Updated here:

https://benetech.box.com/s/f345tsmvf3yyswbhoezp0swsrwb04a9o

[2020-04-05 19:39] benetechMatt commented on #1086
Rework of this issue. There will be two views of the problem set page.  Creators, or owners of the problem set page have new "problem set controls" panel which allows them to make changes to the set and share an answerable version of the set.

![image](https://user-images.githubusercontent.com/49413678/78508061-b6b73780-7749-11ea-8e7d-2714a9eee53f.png)

Users that did not create the set or are not

[2020-04-06 16:08] bpmcneilly commented on #1031
I agree with @jscholes on the overall structure of this element and placement of the skip link focus. One thing I want to check in on @benetechMatt is that in the first image there appears to be a text to speech button (I'm guessing here, but that's generally what the speaker icon is used for) that is then missing from the second image. If that content is included, that too should be present in th

[2020-04-06 17:12] rupeshparab commented on #1103
I have added the automation scripts here:
https://github.com/benetech/MathShare/tree/development/automation

[2020-04-06 23:38] alexrcabral commented on #992
Things to consider here:
This will significantly decrease the amount of space for the sketchpad. If you expand it to include the space with the existing step as it is now, there would need to be an alternate way to reach the other tabs.

This is related to the ongoing issues of not having enough space to draw, and not being able to integrate the drawings effectively with the math. One thing that c

[2020-04-06 23:41] alexrcabral commented on #987
@benetechMatt if the next step is automatically added, what is the purpose of the "Update Step" button?

[2020-04-07 05:11] benetechMatt commented on #1031
@alexrcabral the TTS button in the first image was a mistake as it was borrowed for a later version of the MVP. The second image without the speaker icon is correct for this issue.

H1 for the problem
Sign in should be a link as it currently is on the dashboard but keep the current styling

[2020-04-07 07:00] benetechMatt commented on #1090
closing this issue due to changes in #1086

[2020-04-07 07:00] #1090 closed

[2020-04-07 07:07] benetechMatt commented on #973
This issue and #1067 are for different scenarios but both can benefit from the wording used in this issue.  We'll adopt https://github.com/benetech/MathShare/issues/973#issuecomment-604173153 for both to encourage users to sign up.

[2020-04-07 07:08] benetechMatt commented on #1067
Adopt the text found in https://github.com/benetech/MathShare/issues/973#issuecomment-604173153

[2020-04-07 16:09] benetechMatt commented on #1094
Addressed in issue #1086

[2020-04-07 16:19] benetechMatt commented on #992
Story #1020 will implement the new sketchpad prior to this which allows students to draw over the equation.  For the Sketch tab, the drawing area will be above the tab and the sketch tools will be in the tab.

The expand button in the lower right corner of the drawing area allows users to expand the sketch area vertically

![image](https://user-images.githubusercontent.com/49413678/78693771-564b06

[2020-04-07 17:00] benetechMatt commented on #973
This should not show up for the /review/ URL

[2020-04-07 21:35] alexrcabral opened #1112 "The "Mathshare" logo on the main page (mathshare.benetech.org) should be a clickable link to the main site with the dashboard (https://mathshare.benetech.org/#/app)"

[2020-04-07 21:59] alexrcabral opened #1113 "Bug: Font personalization"
Problem: As a signed-in user, fonts don't update despite choosing an alternate font (e.g. "Comic Sans").

<img width="395" alt="Screen shot of the personalization settings modal with Comic Sans selected" src="https://user-images.githubusercontent.com/47576069/78723521-6d4d2080-78e0-11ea-89e3-47375b1f280d.png">
<img width="1175" alt="Screen shot of the dashboard with the default font. The message i

[2020-04-07 22:28] alexrcabral opened #1114 "Workflow discrepancy: Students working through a problem they created"
Problem: As a student, I can create my own problem set and work through it on my own. However, when I go to solve it, if I don't save the link externally or submit it to an external site (eg Google Classroom or Canvas), my work is not saved to my dashboard.

Solution: [in progress]

[2020-04-07 22:30] johnhbenetech commented on #1114
See #977

[2020-04-07 22:54] alexrcabral commented on #1086
Clarifying question:

Is this based on what was checked at the time of assignment, at the time the student problem set is accessed (when a copy is made), or is it a global control which will retroactively make any students' sets tied to the teacher's set require (or not require) an explanation?

[2020-04-08 00:11] alexrcabral commented on #1114
The intent for this issue is specifically for creating your own problem set, building on the work in #977 of the dashboard displaying all problems worked on.

The solution here differs because it likely has to do with changing the permissions on editing work within a problem set. Otherwise we run into issues (eg with #977) with having duplicates of the same set -- one with the problem set that you

[2020-04-08 17:11] benetechMatt commented on #1076
Will recreate mathshare current homepage and add additional content at a later date

[2020-04-08 17:17] johnhbenetech commented on #1113
moving this forward - scoped enough for dev

[2020-04-08 17:36] alexrcabral commented on #1073
@benetechMatt I don't recall suggesting this. It's a plausible workaround for students trying to save the link without signing in, but I wouldn't recommend it as the standard messaging because there are aspects we can't control.

E.g. if on a shared computer in a computer lab, bookmarks are often wiped, and the student will lose their work.

We should still allow the option of saving the link, and

[2020-04-08 22:42] benetechMatt commented on #1073
@alexrcabral What are your thoughts on a good location for this messaging. I'm thinking of users that will never sign in because their district does not allow it. These messages would only be displayed if the user is not signed in.

Here are two ideas

Only in the "share" modal
![mockup of "share my answers" modal. At the bottom, below the sharing instructions and buttons is a box of text with a l

[2020-04-09 17:58] rupeshparab commented on #1113
I think this might have been tried on prod and not QA, the prod version had some placeholders as font files were not available at that time.
This is a demo of the feature on QA: https://www.loom.com/share/a484441ec77f4b43abac18cf1d1cfc05

Comic Sans is not a dropdown open in the working version

[2020-04-10 00:06] alexrcabral commented on #1073
Neither.

1) This is also in the modal for sharing responses, which is less relevant for error-prevention in losing saved work than the unsaved work warning modal. I also recommend sticking to the copy I suggested. The text in the mockup is very dense & difficult to read, particularly because it's trying to offer multiple courses of action at the same time.

2) It should be an alert at the top of

[2020-04-10 05:39] #1101 closed

[2020-04-10 15:15] rupeshparab commented on #742
@jscholes
I have pushed few fixes on Mathshare QA to improve focus
Can you check if you are still facing issues related to delayed focus?

[2020-04-10 19:23] benetechMatt opened #1129 "Add problem set controls"

[2020-04-10 19:37] benetechMatt opened #1130 "change wording to duplicate problem set menu option"

[2020-04-10 19:53] benetechMatt commented on #1086
Splitting up this issue into three
1. This issue is just about the new method for sharing problem sets
2. Ability to make step descriptions optional #1094
3. Add problem set controls #1129

The buttons, language, and links used for sharing are different for problem set creators/owners and for those that are viewing/answering the set.

### Creators/owners of the set

### Non-owners of the set
Modal

[2020-04-10 21:28] benetechMatt opened #1131 "Creators can create a key for problems / problem set"

[2020-04-10 21:30] benetechMatt commented on #1073
Created issue #1131 to address the need for creators to add a key to the problems

[2020-04-14 12:04] benetechMatt commented on #1130
All users should be able to duplicate problem sets on the /edit/, /view/, and /solve/ views of a problem set. This is designed to allow users to accomplish the following:
- owners of the set that want to make a new copy
- educators that want to make a copy of a problem set created by someone else

Keep the same icon
Current: "Duplicate set"
New: "Duplicate set in order to edit or assign"

![Mockup

[2020-04-14 12:23] benetechMatt commented on #1129
problem set owners, whether they created the set or not, need the ability to change some problem set level settings and share a solvable version of the set.  The allow for this we are adding a problem set controls box which is only available for problem set owners.
Actions users can take:
- Customize the math tools palettes
- Change whether descriptions are required for each step
- Share a /solve/

[2020-04-14 12:36] benetechMatt commented on #1094
In the problem set controls added with issue #1129, there is the ability to change whether descriptions are required for each step. The ability to not require descriptions for every step has been requested by educators and will be necessary for students creating their own problem sets to complete.

The box is checked by default. un-checking the box will allow users to add steps without adding a de

[2020-04-14 15:50] rupeshparab commented on #977
I have a doubt, for the users logged in as students, they should not be shown the 'New Problem Set' option and 'Explore Problem Set Library' link. Recent will have the sets recently solved by the Student.
For the teacher, there would be no changes for the existing dashboard.

[2020-04-15 20:56] benetechMatt commented on #966
how the problems should be read by a screen reader.

Problem 1 complete. Find the value of x.
First step. 3x+10=9.
Answer. x=3.

what is the right level of pause between the three sections of the math tile and parts of a line such as "Answer" and "x=3". How should we denote it when scoping out the issue and implementation?

[2020-04-15 21:15] benetechMatt opened #1133 "Automatically save work when adding step or key equivalent"

[2020-04-15 21:38] benetechMatt commented on #968
Modal text
"You have unsaved changes, do you want to save before leaving this problem?"
[Discard Changes] [Cancel] [Save]

save prompt modal shows up when these buttons are pressed:
- "All problems" button
- "Previous" button
- "Next" button

Added #1133 to address need for automatic saving when the "add step" button is pressed or an equivalent key press.

From @jscholes suggestion
**Modal Accessi

[2020-04-15 21:50] sinabahram commented on #966
Hi, I’m really confused by this question. how are you planning on affecting the level of pause here? You don’t have control over how long a screen reader pauses.

Also, isn’t the answer x = -1/3? Not that it matters, but that was bothering me 😊.

[2020-04-16 13:09] benetechMatt opened #1134 "User metrics for February and March"
- Number of students that signed up in each month
- Number of problem sets created in each month
- Number of problems answered (at least one step added) in January, February, and March broken out by month

[2020-04-16 21:51] alexrcabral commented on #1073
Updated mockup:
<img alt="Mockup of the existing Mathshare interface. Below the problem set title and above the problem set controls is a warning centered in the middle of the screen. Text reads, Warning: You are not signed in. Save this link to return to your problem set later. A link is available in a text box in the line below, with a button labelled Copy with matching icon." src="https://user-

[2020-04-17 01:13] johnhbenetech commented on #737
resolved

[2020-04-17 01:13] #737 closed

[2020-04-17 16:17] rupeshparab commented on #976
Currently there is just 1 place where we are asking users to Sign In on Dashboard page.
I have added the benefits link below it, attaching its screenshot:

![image](https://user-images.githubusercontent.com/6897505/79590609-e4f72880-80f4-11ea-9853-1b1bc7890d9a.png)

Please let me know if the link needs to be added anywhere else and if any styling changes are needed for the link

[2020-04-17 16:30] johnhbenetech commented on #976
@benetechMatt @alexrcabral Take a quick look at this to confirm this is what you intended

[2020-04-17 16:34] benetechMatt commented on #976
updated help center page text

[2020-04-17 16:36] benetechMatt commented on #976
The link should also be placed on the sign in page. Below the google and microsoft buttons
https://mathshare-qa.diagramcenter.org/#/signIn

[2020-04-17 16:54] rupeshparab commented on #976
Thanks for confirming, I have moved it to the Login page

![image](https://user-images.githubusercontent.com/6897505/79594047-fe4ea380-80f9-11ea-9b4e-b8ccf420ba7f.png)

[2020-04-17 17:18] rupeshparab commented on #977
@benetechMatt
Can you please confirm if these dashboard views are correct?

User who has not logged in:
![image](https://user-images.githubusercontent.com/6897505/79595999-7074b780-80fd-11ea-92a0-dfcfe58aa6d8.png)

Student:
![image](https://user-images.githubusercontent.com/6897505/79595943-5c30ba80-80fd-11ea-9bb7-f12c54863d2e.png)

Teacher:
![image](https://user-images.githubusercontent.com/68975

[2020-04-17 17:45] johnhbenetech commented on #762
We will go with option 1 above due to lack of communication from product team

[2020-04-17 17:50] johnhbenetech commented on #969
We will go with disabled button approach due to lack of communication from product team

[2020-04-17 17:50] johnhbenetech commented on #970
We will go with disabled button approach due to lack of communication from product team

[2020-04-17 18:02] johnhbenetech commented on #976
@rupeshparab I believe we actually want it in both places (the dashboard and the sign in page itself). Kicking back to you for quick fix.

[2020-04-17 18:11] johnhbenetech commented on #977
I will suggest some small tweaks that we will proceed with if we don't hear from product by EOD today.

1. Make sure the unauthenticated view reflects the decision in #976
2. Capitalize the '+ Create a Problem Set' option on all views
3. Students **should** have access to the '+ Create a Problem Set' option as first option

And then I'm 90% sure this is the case already, but just to be complete: R

[2020-04-17 18:15] alexrcabral commented on #1131
Problem: As a teacher, I want to be able to create a key for my problem set, while still being able to share the set with my students without revealing the answers.

Solution: When sharing the problem set, there should be a toggle option to share work, default inactive. When the toggle is inactive, the link is a default link which creates a duplicate workable version of the set, with all work blan

[2020-04-17 18:20] benetechMatt commented on #977
In addition to John's changes in the previous comment,

Add spacing of 15px between "Recent Sets" and "Explore Problem Set Library"

Have at least 15px of spacing above and below text that is displayed under "Recent Sets". This is for "No Sets" and the sign in message.  Currently the text is too close to the heading above it and sometimes too close to the next heading of "pre-made sets"

[2020-04-17 18:39] alexrcabral opened #1137 "Division / Fractions don't show up in problem preview"
Bug: Division bars don't show up in the problem set preview.

<img width="1343" alt="Screen shot of problem set titled Review: Solving for x. Two of the problems contain division, such as x/4 - 5 = 3. The fraction bar between the x and the 4 is not shown." src="https://user-images.githubusercontent.com/47576069/79603190-b5b6cc00-80a0-11ea-9f62-1ab937be9010.png">

<img width="1321" alt="Screen shot

[2020-04-17 19:22] alexrcabral commented on #1086
@benetechMatt One of the identified necessary functions was for individuals to share sets they did not create. Share problem set should not be located within the problem set controls because only problem set creators can access this. This should instead be within the context menu of the problem set, which can be accessed by anyone with the problem set.

[2020-04-17 19:24] johnhbenetech commented on #1137
@alexrcabral can you give:
environment
example URL
browser + OS

[2020-04-17 19:37] benetechMatt commented on #1086
@alexrcabral users must duplicate the set before they can share the problem set. This is why it's located in the controls box.  Once they duplicate the set they will be the owner and then see the "share problem set" button.
Users should not be able to share the problem set unless they are the owner of it.

[2020-04-17 20:14] johnhbenetech opened #1138 "Investigate possibilities for better display of 'long' math on my work page"
See either problem here:

https://mathshare-qa.diagramcenter.org/#/app/problemSet/solve/SL2ETNFKJS4YO

When the math portion of the prompt is long it causes a very wide render of the page. I'd love to hear what we think is possible to do here. I have a few assumptions which I'm interested in hearing if any are true:

1. It's caused by the display of the prompt in the header portion setting the wid

[2020-04-17 20:43] alexrcabral commented on #1086
@benetechMatt Why is it important for a user to not be able to share a problem set if they are not the creator of the problem set?

[2020-04-17 21:48] alexrcabral commented on #1073
Problem set controls will be updated in future mockups, this issue is set to go.

[2020-04-17 21:50] alexrcabral commented on #1086
Decision on call: you cannot share a set that you did not create or duplicate.
This is intended to reduce possibility of error for students sending the wrong link, and to restrict control in assigning sets.

[2020-04-17 22:04] benetechMatt commented on #1130
change copy to "Duplicate to edit/share"

[2020-04-17 23:42] jscholes commented on #1026
CC @benetechMatt and @alexrcabral - We've provided all accessibility comments from our side.  Any thoughts?

[2020-04-17 23:44] jscholes commented on #1006
CC @benetechMatt and @alexrcabral - Are you waiting for any further accessibility input from us on this one?

[2020-04-17 23:47] jscholes commented on #1002
@benetechMatt and @alexrcabral - Are you waiting for any accessibility input from us on this one?  Or are we looking to spot check it once developed and/or there is a mock-up?

[2020-04-17 23:49] jscholes commented on #1001
@benetechMatt and @alexrcabral - We've provided all accessibility comments from our side.  Any thoughts?

[2020-04-17 23:51] jscholes commented on #1000
@benetechMatt and @alexrcabral - Are you waiting for any further accessibility input from us on this one?

[2020-04-17 23:52] jscholes commented on #997
@benetechMatt and @alexrcabral - Are you waiting for any accessibility input from us on this one?  Or are we waiting to see it in action?

[2020-04-17 23:52] jscholes commented on #995
@benetechMatt and @alexrcabral - We've provided all accessibility comments from our side.  Any thoughts?

[2020-04-17 23:53] jscholes commented on #971
@benetechMatt and @alexrcabral - Are you waiting for any further accessibility input from us on this one or any of the other linked issues?

[2020-04-17 23:56] jscholes commented on #968
@benetechMatt As per https://github.com/benetech/MathShare/issues/968#issuecomment-604706890 from @bpmcneilly, having "cancel" in the middle is a no-go.  Save should be the default, then "discard", then "cancel".  Any other way of doing it is nonstandard and risks data loss.

[2020-04-17 23:57] jscholes commented on #967
@benetechMatt and @alexrcabral - We've provided all accessibility comments from our side.  It would be good to discuss this further, on a call if necessary, because it and the related tickets are relatively complex.  Any thoughts?

[2020-04-17 23:59] jscholes commented on #966
@benetechMatt and @alexrcabral - We've provided all accessibility comments and questions from our side.  It would be good to discuss this further, on a call if necessary, because it and the related tickets are relatively complex.  Any thoughts?

[2020-04-18 05:33] benetechMatt commented on #1129
updated mockup.

problem set owners, whether they created the set or not, need the ability to change some problem set level settings and share a solvable version of the set. The allow for this we are adding a problem set controls box which is only available for problem set owners.

The border of the controls box is #A7C5DA, background #FAFAFA. The box width matches that of three problem cards.

Ac

[2020-04-18 05:37] benetechMatt commented on #1073
![image](https://user-images.githubusercontent.com/49413678/79629176-a40b0e00-810c-11ea-8e83-2b5d14e24847.png)

![image](https://user-images.githubusercontent.com/49413678/79629184-b4bb8400-810c-11ea-886b-c3369d069ab0.png)

[2020-04-18 05:44] benetechMatt commented on #1131
![mockup showing this setting in the problem set controls.](https://user-images.githubusercontent.com/49413678/79629262-b46fb880-810d-11ea-9a0e-343b3af62268.png)

[2020-04-18 05:47] benetechMatt commented on #1094
Changing this action to a toggle as it will immediately affect the users ability to add steps with or without adding a description.
Label: Require explanations
Toggle switch is placed to the right of the label.
![mockup of problem set controls showing this option with a toggle on the right side of the label](https://user-images.githubusercontent.com/49413678/79629274-db2def00-810d-11ea-8f98-440e0f

[2020-04-18 05:48] benetechMatt commented on #1086
Adding issue #1131

[2020-04-18 07:44] johnhbenetech commented on #1131
I having trouble parsing through this. Can you provide some examples of what this would look like?

Also what would happen if they toggled it inactive after they had previously enabled it and attached work?

[2020-04-18 18:43] jscholes commented on #742
@rupeshparab Seems to be fixed.  Will reopen if I come across any further issues during testing.

[2020-04-18 18:43] #742 closed

[2020-04-19 19:59] johnhbenetech commented on #1130
@benetechMatt Can you specify exactly what happens when this button is hit in each of these cases?

* The '/view' view doesnt really exist. It just immediately sends you on to your own solve version - not sure how this task is relevant there.

* The '/edit' case is clear to me - just basically changing the copy

* For '/solve' it sounds like at a minimum we need to add the 3 dot menu with this opt

[2020-04-19 20:03] johnhbenetech commented on #1073
@benetechMatt the mockups are confusing with regards to which link should be shown on which views. my assumption is that

* If you are on the 'edit' view it should show the edit link
* if you are on the 'solve' view it should show the solve link

is that correct?

[2020-04-19 20:12] johnhbenetech commented on #1129
@benetechMatt What does problem set 'owner' mean. You say both of the following:
* "whether they created the set or not"
* "is only available for problem set owners"

Are we actually talking about user accounts here? Like what if a set was created by an unauthenticated user?

Or is the task simply to show these controls to anyone at the '/edit' view for a set?

[2020-04-19 20:12] johnhbenetech commented on #1094
waiting on #1129

[2020-04-19 20:25] benetechMatt commented on #1130
For /edit it will make a copy of the set and you will be taken to that new copy to work on

For /solve it makes a copy of the set as it currently is, not how it was first opened. Any work you’ve added is also in the new copy that is made for you.  You are then taken to the /edit view of the set

________________________________
From: John Higgins <notifications@github.com>
Sent: Sunday, April 19,

[2020-04-19 20:36] benetechMatt commented on #1073
Correct John. /edit link when you are on the /edit page. /solve link when you are on the /solve page

________________________________
From: John Higgins <notifications@github.com>
Sent: Sunday, April 19, 2020 3:03:53 PM
To: benetech/MathShare <MathShare@noreply.github.com>
Cc: Matt Nupen <mattn@benetech.org>; Assign <assign@noreply.github.com>
Subject: Re: [benetech/MathShare] Clearer wording on

[2020-04-19 20:37] benetechMatt commented on #1131
Let’s hold on this issue.

________________________________
From: John Higgins <notifications@github.com>
Sent: Sunday, April 19, 2020 3:04:06 PM
To: benetech/MathShare <MathShare@noreply.github.com>
Cc: Matt Nupen <mattn@benetech.org>; Assign <assign@noreply.github.com>
Subject: Re: [benetech/MathShare] Creators can create a key for problems / problem set (#1131)

Assigned #1131<https://github.co

[2020-04-19 20:43] benetechMatt commented on #1129
Yes, talking about user accounts.

If the user is not signed in and they access the /edit link it should then be assumed the user is the owner.

Is it possible to tell if set has an owner when it’s accessed via a link? @johnhbenetech

[2020-04-19 21:55] johnhbenetech commented on #1129
@benetechMatt I guess let me ask it an easier way... In what cases should we NOT show these controls to someone looking at the '/edit' view?

[2020-04-19 22:12] benetechMatt commented on #1129
There would never be a situation where the controls are NOT shown to someone looking at the /edit view.  If we later lock down editing abilities to just owners then that would affect more than just these controls so there is no point to hiding just controls.

[2020-04-19 22:17] benetechMatt commented on #1131
Changing this setting is not retroactive to work that been started. Example:
1. teacher shares with the "include my work when showing" option on and assigns via link
2. student 1 opens the link and begins the problem set and edits the teacher's steps
3. teacher changes the "include my work" setting to off and does not re-share the link.
4. Student 1 opens their work and it looks the same as before

[2020-04-19 22:35] benetechMatt commented on #1000
@alexrcabral @jscholes From your comments I assume the following:

accessible name when speaking the prompt, "Speak prompt"

Accessible name when speaking the steps, "Speak step N"

Accessible name when speaking the My Work section, "Speak my work"

[2020-04-19 22:38] #1087 closed

[2020-04-19 22:41] johnhbenetech commented on #1131
That's fine, I still dont understand what "work" means in this context. With the changes performed in #816 - isn't this possible already? How would we decide what should be considered a 'prompt' vs. 'prompt requiring more than one step' vs 'work' when deciding what to remove?

[2020-04-19 22:51] benetechMatt commented on #1131
"Work" means adding additional steps.
#816 only addresses the need for educators to add steps to a problem after it's been created.  The need here is for educators to change whether the work is in the problem set when students begin solving the problems.

[2020-04-19 22:54] johnhbenetech commented on #1131
@benetechMatt So we can just assume anything that isn't the prompt is "work".

Or to put simply, when 'include my work' is OFF - only the prompts are sent?

[2020-04-19 22:56] benetechMatt commented on #1131
Yes, anything that isn't the prompt is 'work'.  Since it's not possible to edit step 1 when working the problem your last statement is a good summary.

[2020-04-20 12:01] abaranowska1 opened #1139 "After select only one, two or three from four available pallets still, all are available during creating a new problem"
**Describe the bug**
After select only one, two or three from four available pallets still, all are available during creating a new problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as Teacher via google account'
2. Click on 'Create a Problem Set'
3. Mark only Edit and Operators Palletes ( another two checkboxes shouldn't be marked )
4. Click 'Next'
5. Click 'Add new Problem'

[2020-04-20 12:54] benetechMatt commented on #1139
I don't know if this is a bug or was originally intentional.  When the set is opened in the /solve view via the share link only the selected palettes are available. Now that students are using this same method for creating their own problem sets it makes sense that this should be changed to the expected behavior as  listed by @abaranowska1.
@alexrcabral agree?

[2020-04-20 13:00] abaranowska1 opened #1140 "Sometimes, after login to the previously created account, you have to choose If you are a teacher or student once again"
**Describe the bug**
Sometimes, after login to the previously created account, you have to choose If you are a teacher or student once again. It cannot be reproduced every single time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Mathshare'
2. Log in via Google Account
3. Go to for example existing problem

**Actual result**
Sometimes, after login to the previously created account,

[2020-04-20 13:20] abaranowska1 opened #1141 "After log out user stays on the same page and can continue work on resolving problem"
**Describe the bug**
After log out, the user stays on the same page and can continue work on resolving the problem

**To Reproduce**
Steps to reproduce the behavior:
1. Log in for example as a student via google account'
2. Click on Recent Problem Set
3. Log out
4. Click on problem
5. Start solving and click finish

**Expected behavior**
In my opinion after log out, the page should go back to the

[2020-04-20 13:22] benetechMatt commented on #1086
Here is a summary of the final solution decided on. Details for the updated "share problem set" and "Share my answers" buttons in comment https://github.com/benetech/MathShare/issues/1086#issuecomment-612191139

This issue is just about the new method for sharing problem sets
- Ability to make step descriptions optional #1094
- Add problem set controls #1129
- change wording to duplicate problem s

[2020-04-20 14:17] bognasoldev89 opened #1142 "UI issues on setup page for a new account (Firefox and Edge)"
**Describe the bug**
I noticed, that while window allowing to choose if the user is teacher or student is displayed, buttons are not aligned (on Firefox) and "Who are you?" is pushed to the left (on Edge). Chrome looks fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account
2. Sign in for the first time
3. Observe setup page

**Expected behavior**
All elements on setup page s

[2020-04-20 14:27] benetechMatt commented on #1082
Content for the getting started page https://benetech.box.com/s/m040cviwz5vvqnpmb5qo1nqbf0ku2fut

[2020-04-20 14:39] bognasoldev89 opened #1143 "User is logged out after opening Problem set from the Library"
**Describe the bug**
When the user opens Problem set from the external Library, user is not logged in.

**To Reproduce**
1. Log in
2. Click Explore Problem Set Library link
3. On Google sheet click chosen Problem set

**Expected behavior**
User should be sent to chosen Problem set and stay logged in. At this moment user is logged out.

**Screenshots**
![ms bug](https://user-images.githubuserconten

[2020-04-20 18:57] jscholes commented on #1082
@benetechMatt While iconography vs text is an entire discussion in itself, we do need to ensure that we're never only referencing iconography in documentation.  For example:

This button has an accessible label as well, so that text needs to be referenced so a screen reader user can follow along.

This ties in with discussion from #968.  To fit in with user expectations and the UIs they'll be fami

[2020-04-20 18:59] jscholes commented on #1142
Related: https://github.com/benetech/MathShare/pull/1111

[2020-04-20 19:16] jscholes commented on #1000
@benetechMatt Correct, assuming that there can only ever be a single prompt and my work section.

[2020-04-21 14:50] rupeshparab commented on #976
I have kept the benefits of signing in link on both pages

[2020-04-21 16:08] rupeshparab commented on #977
I have addressed the feedback of above comments

User who has not logged in:
![image](https://user-images.githubusercontent.com/6897505/79887168-ed62a280-8417-11ea-80bf-d3dfdd4574af.png)

Student:
![image](https://user-images.githubusercontent.com/6897505/79887100-cdcb7a00-8417-11ea-90b4-1638d259002b.png)

Teacher:
![image](https://user-images.githubusercontent.com/6897505/79887371-49c5c200-8418-1

[2020-04-21 16:48] rupeshparab commented on #977
I have addressed the feedback of the above comments

User who has not logged in:
![image](https://user-images.githubusercontent.com/6897505/79887570-bb9e0b80-8418-11ea-9d31-c9a143b9308b.png)

Student:
![image](https://user-images.githubusercontent.com/6897505/79887646-d6708000-8418-11ea-94b7-bae48261e7f9.png)

Teacher:
![image](https://user-images.githubusercontent.com/6897505/79890982-ec347400-84

[2020-04-21 17:47] johnhbenetech commented on #1026
@alexrcabral any input on this? We can kick out of this sprint if it needs more discussion

[2020-04-22 11:19] abaranowska1 opened #1147 "Shortcut for Calc is the same as a shortcut for zoom the browser page"
**Describe the bug**
Shortcut for Calc is the same as a shortcut for zoom the browser page ( Ctrl+ )

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Problem
2. Mark some of the input ready to calc ( for example some adding or subtraction)  and click Ctrl +

**Actual result**
The calc is done, but the page also has been zoomed
**Expected behavior**
The calc is done, but without zooming

[2020-04-22 19:47] benetechMatt opened #1148 "Add https:// to beginning or share url"
When embedding a link or webpage in Microsoft teams, it requires the URL to be https. The mathshare share links do not include "https" and simply begin with "mathshare".

The URL for share links should include https:

Current:
mathshare-qa.diagramcenter.org/#/app/problemSet/view/SIFYKQVZULVQO

New:
https://mathshare-qa.diagramcenter.org/#/app/problemSet/view/SIFYKQVZULVQO

[2020-04-22 22:20] benetechMatt commented on #1011
Closing this issue as #1031 will resolve the problem

[2020-04-22 22:20] #1011 closed

[2020-04-23 21:24] benetechMatt opened #1149 "users can customize how math is spoken via clearspeak"
important for screen reader users.
Certain math terms are spoken differently, generally by geographic location.
example: parens vs parenthesis. inverse sin, sin inverse, arc sin

Clearspeak has this as an option

[2020-04-23 22:27] benetechMatt commented on #1082
Thanks @jscholes I’ll update the content regarding these points.  Same content for all users so I will adjust the headings and some of the organization

[2020-04-23 23:02] sinabahram commented on #1149
Note, ClearSpeak only applies when MathPlayer is used to read the math, so even in the editor, this is not necessarily true, even when using NVDA which otherwise would Use MathPlayer because MathLive doesn’t facilitate math reading by MathML, or at least that’s my understanding from Neil.

[2020-04-24 04:17] benetechMatt commented on #1082
Changed content significantly. Fixed heading issues. Removed references to iconography.

[2020-04-24 13:31] johnhbenetech commented on #1083
content for page:
https://benetech.box.com/s/m040cviwz5vvqnpmb5qo1nqbf0ku2fut

[2020-04-24 14:41] jscholes commented on #1082
@benetechMatt You have "How to Create a problem Set" listed twice, as a consecutive H2 and H3.  In addition, every single heading bar one in this document begins with the first two words ("how to..."), which is incredibly frustrating for screen reader users.  The headings make sense without them.

For this text:

To reduce verbosity and cognitive load, this doesn't need to be inside a child nested

[2020-04-24 17:10] rupeshparab commented on #1143
Problem set library has links of sets on Production
If a user logs in QA env and opens a set from the library, the user would need to login again as both have different session because of different environments

[2020-04-24 17:15] johnhbenetech commented on #1143
@rupeshparab thanks that makes sense.

@bognasoldev89 we can wait till this is released to prob and double check, but I think this is safe to close for now

[2020-04-24 17:19] johnhbenetech commented on #1079
QA, this seems related to #1142
If this is still present, we can close this issue out and deal with it there

[2020-04-24 17:24] alexrcabral opened #1150 "Consolidate footers"
The "footer" used on the main page should be consolidated with the universal footer present on the rest of the website.

Context located in https://github.com/benetech/MathShare/pull/1108

[2020-04-24 17:30] johnhbenetech commented on #1103
No QA needed

[2020-04-24 17:30] #1103 closed

[2020-04-24 17:31] johnhbenetech commented on #1113
QA, confirm working on qa instance

[2020-04-27 07:08] bognasoldev89 commented on #1143
@rupeshparab thanks for information!

@johnhbenetech sure, we'll remember about this

[2020-04-27 07:08] #1143 closed

[2020-04-27 07:54] abaranowska1 commented on #1079
**Tested with success**

**Verified on:**

- Google Chrome Version 81.0.4044.92
 ![image](https://user-images.githubusercontent.com/61964176/80347176-41ccae80-886c-11ea-836a-73fd98e35398.png)

- Firefox Browser 75.0
 ![image](https://user-images.githubusercontent.com/61964176/80347184-46916280-886c-11ea-921c-1f13287f6d3d.png)

- Microsoft Edge Version 81.0.416.64
 ![image](https://user-images.gith

[2020-04-27 08:23] #1079 closed

[2020-04-27 08:31] abaranowska1 commented on #1085
**Tested with success**
Confirmed that button changed the name from "New problem set" to "Create a problem set"
![image](https://user-images.githubusercontent.com/61964176/80351162-249ade80-8872-11ea-94fe-ca1aa785f952.png)

[2020-04-27 08:31] #1085 closed

[2020-04-27 09:00] bognasoldev89 commented on #1065
**Tested with success**

Verified on QA env

**Verified cases**
- Opening the homepage
-- user signed in through Google
-- user signed in through Microsoft
-- user not signed in

**Summary**
In all of the cases "Example Problem Set" is available as the first position in "Pre-Made Sets" section.

**Attachment**
Exemplary view:
![ms 1065](https://user-images.githubusercontent.com/51324797/80353812-3

[2020-04-27 09:00] #1065 closed

[2020-04-27 09:39] abaranowska1 commented on #1091
**Tested with success**
Confirmed that "Share to twitter" link is removed from "More Options" button.
![image](https://user-images.githubusercontent.com/61964176/80357645-93c90080-887b-11ea-9cc7-b82155c9e2a5.png)

[2020-04-27 09:39] #1091 closed

[2020-04-27 10:26] bognasoldev89 opened #1151 "3 dot tree is not working on Problem set page"
**Describe the bug**
Options for Problem set from its page are not available. "Duplicate set" is visible after clicking 3 dots but it's not clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in
2. Create Problem set
3. Open Problem set
4. Click 3 dots right to Problem sets name

**Expected behavior**
The displayed menu is clickable and responsive.

**Screenshots**
Gif of unclicka

[2020-04-27 10:41] bognasoldev89 commented on #844
Verified on QA env

**Verified cases**

1. Archiving sets from the homepage
2. Archiving sets from the set page
3. Accessing archived sets page

Ad. 1
I was able to archive Problem set from the homepage

![ms 844 1](https://user-images.githubusercontent.com/51324797/80363156-18b81800-8884-11ea-863e-61b96d25f1a2.gif)

Ad. 2
I was not able to archive Problem set from its page.

![ms 844 2](https://u

[2020-04-27 10:47] abaranowska1 commented on #1092
@rupeshparab
When students create a problem set, the math tools customization modal should not be displayed and it works when I click "Create a problem set" button on the dashboard, but when I want to create a problem set using another option ( Create a problem set from the Help option - after click the "?" button ) choosing pallets window is displayed for students. Plz look at this issue
Gif :
![

[2020-04-27 11:25] abaranowska1 commented on #1113
**Tested with success**
Confirmed that font personalization works on QA instance
![font](https://user-images.githubusercontent.com/61964176/80366907-6172cf80-888a-11ea-982a-3ae461e677e8.gif)

[2020-04-27 11:48] abaranowska1 commented on #1075
**Tested with success**
A link titled "Privacy Policy" was added to the dark gray footer and it is placed between the Youtube link and the copyright text.
After click, user goes to https://mathshare.benetech.org/#/privacy
![image](https://user-images.githubusercontent.com/61964176/80368654-553c4180-888d-11ea-99b4-dd0d34da7df9.png)

[2020-04-27 11:48] #1075 closed

[2020-04-27 11:53] bognasoldev89 commented on #1029
**Tested with success**

Verified on QA env

**Verified cases**
- Browsing operations palette during resolving equation as
-- Teacher
-- Student
-- not logged in user

**Summary**
Text button is removed from palette for all kind of users.

**Attachment**
Exemplary screenshot of palette for Student user:

![1029](https://user-images.githubusercontent.com/51324797/80369287-515cef00-888e-11ea-88d5-21

[2020-04-27 11:53] #1029 closed

[2020-04-27 12:13] abaranowska1 commented on #1080
**Tested with success**

**Verified cases:**
- "Title" was changed to "Prompt"
- The heading "Equation" should was moved to the left to align with the main math box below it
- The updated heading "Prompt" was moved to the right to align with the prompt box.
- All headings, "Equation" and "Prompt" - was moved closer to the entry boxes
- "#" was removed d
- The default text in the description box ch

[2020-04-27 12:13] #1080 closed

[2020-04-27 19:16] rupeshparab commented on #844
@bognasoldev89
I have pushed a fix for the 3rd issue which you have mentioned

Will wait on input for the other issues

[2020-04-27 19:30] johnhbenetech commented on #844
@alexrcabral do you think archive set should also be available under the three dot menu on the single problem set edit view?

[2020-04-27 19:41] rupeshparab commented on #1092
@abaranowska1
I have pushed a fix for this, now the modal will not open for students when new problem set page is opened in a new tab

[2020-04-27 19:47] rupeshparab commented on #1151
Pushed a fix for this

[2020-04-27 19:50] rupeshparab commented on #1142
@bognasoldev89
Can this be closed as a duplicate of https://github.com/benetech/MathShare/issues/1079

[2020-04-27 22:56] alexrcabral opened #1154 "Small fix: "continue without signing up / logging in""
Sign up / log in modal should lead to the dashboard (/app), not the marketing homepage.

[2020-04-28 07:10] bognasoldev89 commented on #1142
Sure!
@abaranowska1 can you confirm it's good to close and move it done if applicable?

[2020-04-28 07:46] abaranowska1 commented on #1092
@rupeshparab
The issue still exists after I clicked "Create a problem set " from the Help option - after click the "?" button.
Steps:
1. Log in to MathShare via Google as Student
2. Click Create a Problem Set button on the dashboard
3. Click "?" button in the right upper corner
4. Click Create a Problem Set from this drop-down menu

**Actual result:** Choosing pallets window is still displayed for

[2020-04-28 09:43] abaranowska1 opened #1157 "Student's problem sets are not saved in Recent Problem after create"
**Describe the bug**
Student's problem sets are not saved in the Recent Problem after create, so there is also not available to duplicate problem set by click 3 dot tree near the title on Problem Set page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mathsahe and log in as Student
2. Click on Create a Problem Set button on the Homepage
3. Add problem, try to duplicate set by click 3

[2020-04-28 09:46] abaranowska1 commented on #1151
The displayed menu is clickable and responsive.
![tea](https://user-images.githubusercontent.com/61964176/80468445-79585b00-893f-11ea-9ca9-2345d796174c.gif)
@rupeshparab
Problem Set is duplicated after click on this option, but only for Teacher account. It could be related to this issue  https://github.com/benetech/MathShare/issues/1157

[2020-04-28 09:51] abaranowska1 commented on #1142
Confirmed, this could be closed as a duplicate od #1079

[2020-04-28 09:51] #1142 closed

[2020-04-28 10:38] rupeshparab commented on #1157
Currently Recent sets shows different data based on type of the user
For Teachers, it will show the Problem Sets they have created
For Students, it shows the Problem Sets which the student has started solving

[2020-04-28 10:39] rupeshparab commented on #1151
@abaranowska1
Have commented about the existing working of Recent Sets on #1157

[2020-04-28 10:56] #1151 closed

[2020-04-28 10:58] rupeshparab commented on #1092
There seems to be some issue because of which it is working locally but not in QA env, I am investigating it

[2020-04-28 11:51] abaranowska1 commented on #844
@rupeshparab  @bognasoldev89
Confirmed that the 3rd issue was fixed. Now user can Archive and Restore Problem Set. Page with Archived Sets works and opens.

We will wait for the rest fixes.

[2020-04-28 18:53] rupeshparab commented on #1092
@abaranowska1
I have fixed it in the QA env, please check if it is working for you.

[2020-04-28 19:47] alexrcabral commented on #1073
Minor copy update: "signed in" should be changed to "logged in" to be consistent with #1136

[2020-04-28 20:08] alexrcabral commented on #809
Closing the issue since obviated by #609

[2020-04-28 20:08] #809 closed

[2020-04-29 07:58] abaranowska1 commented on #1092
@rupeshparab
Thanks, now it is working fine. Math tools palette customization step was removed for students.

[2020-04-29 07:58] #1092 closed

[2020-04-29 07:59] #1113 closed

[2020-04-29 13:06] abaranowska1 commented on #976
@johnhbenetech @rupeshparab
In my opinion, it will look better when "benefits of signing in" link will start from the capital letter like " Continue without signing in"
![image](https://user-images.githubusercontent.com/61964176/80599296-03312280-8a2b-11ea-88a0-7060f64999d9.png)

[2020-04-29 13:28] johnhbenetech commented on #976
@rupeshparab Yes let's capitalize the letter

[2020-04-29 15:10] rupeshparab commented on #976
I have capitalised the text

[2020-04-29 16:44] benetechMatt opened #1164 "Chemistry notation"

[2020-04-29 16:53] benetechMatt commented on #1164
Decrease spacing between letters when there is no space.
Ability to have the letters no italicized
![screenshot of four steps of a chemical equation being balanced in Mathshare](https://user-images.githubusercontent.com/49413678/80623373-b1c76a00-8a0f-11ea-8833-a45f0652760d.png)

[2020-04-29 17:01] benetechMatt opened #1165 "Chemistry symbols"
arrows

[2020-04-29 17:07] benetechMatt opened #1166 "Ability to add molecule diagrams to equations"

[2020-04-29 17:24] rupeshparab commented on #829
This comment has the final change implemented in the task - https://github.com/benetech/MathShare/pull/935#issuecomment-620303445

[2020-04-29 17:43] benetechMatt opened #1169 "Schoology LTI plugin"
modify Canvas LTI plugin
#1062

[2020-04-29 22:01] alexrcabral opened #1170 "Update copyright"
Change 2019 to 2020 in the copyright of the universal footer

[2020-04-29 22:34] sinabahram commented on #1170
Just a quick note that this can be a computed value to avoid text changes each year.

[2020-04-30 08:34] abaranowska1 commented on #1057
**Tested with success**
Now I see that every user should choose whether they want to discard or save changes after clicking "All problems" button.
I cannot reproduce the mentioned bug anymore so I believe that is was fixed.
If the user adds an explanation to a step, does not save the work, and goes to another problem, the explanation didn't show up in the new problem.
![Uploading giff.gif…]()

[2020-04-30 08:34] #1057 closed

[2020-04-30 09:00] abaranowska1 commented on #1061
**Testes with success**

Intercom button is removed for student's accounts, but the intercom button still shows up when users are in the help center - it's fine.

Teacher view: Intercom button shows up
![All Problem Sets - Benetech Mathshare - Mozilla Firefox_189](https://user-images.githubusercontent.com/61964176/80692270-a3da1d80-8ad1-11ea-89ea-635bd65e962b.png)
Student view: Intercom button is

[2020-04-30 09:00] #1061 closed

[2020-04-30 13:42] abaranowska1 commented on #1157
@rupeshparab
Still, I'm not sure if it is expected result:
![Peek 2020-04-30 15-37](https://user-images.githubusercontent.com/61964176/80717279-072b7600-8af9-11ea-8292-af26407288e5.gif)
I tried to start solving a problem created by the user and it is not displayed in Recent sets.

[2020-05-01 00:46] benetechMatt opened #1174 "blank screen bug"
From a teacher:
"I've been using mathshare for a few weeks now, and it's been working well! Thank you for creating this! I do think I will use it in my classroom going forward.

My students and I haven't run into any glitches so far, until today. One of my students ran into a blank page when trying to do his assignment today.

Any ideas?"

christina.irvine@guhsdaz.org

![image_6487327](https://use

[2020-05-01 03:05] alexrcabral commented on #844
@johnhbenetech Archive set should not be available from the single problem set edit view, since the effect could be difficult for users to follow.

And to answer @bognasoldev89's question, any logged in user should be able to archive a problem set (Students, Teachers, and Others).

[2020-05-01 03:17] alexrcabral commented on #1026
@jscholes Solid point. Since the design was changed to the checkmark with the number problems solved out of total, these would all be listed under the existing heading "Recent Sets" rather than "Incomplete" and "Completed". "Recent Sets" should also have the appropriate HTML heading elements.

@bpmcneilly I like the idea of having the consistency between the problem level view as well for #966 and

[2020-05-01 03:27] alexrcabral commented on #1074
@johnhbenetech's update looks good

@rupeshparab
Please let me know if you additional more input from me before proceeding

[2020-05-01 03:35] alexrcabral opened #1175 "Dashboard Update"
Ref: #1157

Currently Teacher dashboards only surface "edit" links, and Student dashboards only surface "solve" links.

There should be a division between sets that an individual has created, and sets that they've worked through.

This is also dependent upon the issue of creators of problem sets being able to go in to a problem to solve it directly, rather than generating a separate solve link.

[2020-05-01 03:36] alexrcabral commented on #1157
@johnhbenetech & @abaranowska1
Thanks for surfacing this!
I've created the new issue #1175 in product backlog to address it.

[2020-05-01 03:36] #1157 closed

[2020-05-01 03:46] rupeshparab commented on #844
@alexrcabral
Currently students can only see their solutions to Problem Sets in the Recent section, because of this archive option is not shown to them as only Problem Sets can be archived. When we make changes to recent set functionality such that solutions and problem sets both are shown to the users in recent set, then students will also be able to Archive Problem sets created by them

Also, ca

[2020-05-01 05:16] rupeshparab commented on #1074
@alexrcabral
I have posted a doubt on the PR: https://github.com/benetech/MathShare/pull/1111#issuecomment-622234814

[2020-05-01 15:17] johnhbenetech commented on #844
@alexrcabral Confirm button placement is correct.

Also @alexrcabral - note here there are two things going on:

* #1175 will display problem sets created by students as well - we can then add the button to archive

* Still, there isn't any functionality right now to archive 'Solution Sets' (only problem sets). So if you want students to eventually have that ability that should be broke out in a n

[2020-05-01 15:22] johnhbenetech commented on #1026
@rupeshparab sounds like we can go forward with the design from this comment
https://github.com/benetech/MathShare/issues/1026#issuecomment-601944977

[2020-05-01 16:58] rupeshparab commented on #1073
I have added only the warning and copy section in this change, will be working on the share modal and problem set controls in their individual tasks (https://github.com/benetech/MathShare/issues/1086, https://github.com/benetech/MathShare/issues/1129).

This is how the UI is looking after the current change:

/solve
![image](https://user-images.githubusercontent.com/6897505/80823770-d29fe300-8bfa-

[2020-05-01 19:00] alexrcabral opened #1178 "Archive Solution Sets"
Ref: #1175, #1157, #844

All users should have the ability to archive sets that they themselves are not the creator on.

[2020-05-01 19:03] alexrcabral commented on #844
Button placement should be moved to red mark as recommended by @bognasoldev89

And thanks for the clarification @rupeshparab, I was mistaken in thinking that the created sets and solvable sets were treated more similarly than they are. I've added #1178 to address this.

[2020-05-04 16:56] jscholes commented on #844
@rupeshparab Could you please explain where the control was, and where you have moved it in https://github.com/benetech/MathShare/pull/1180?  @bognasoldev89 Your screenshots have no alt text, so as a screen reader user I have no idea what they show.  Please ensure that all screenshots and other images posted here have descriptive alternative text, otherwise it is impossible for us to collaborate o

[2020-05-04 17:00] rupeshparab commented on #844
@jscholes
The archived set button was on the right end of the 'Recent Sets' header, I have moved it below the recent sets list items on right side

[2020-05-05 17:15] rupeshparab commented on #1086
The mockups in this change has some overlap with https://github.com/benetech/MathShare/issues/1129

For now I have not added the UI of problem set controls in this change, so the share button for teachers is on the right corner.

Also, the warning change is not present in the current branch, it is being tracked here: https://github.com/benetech/MathShare/issues/1073

[2020-05-05 17:36] johnhbenetech commented on #1086
@alexrcabral In the final set of mockups the 'Share My Answers' button appears in the teacher view. This doesn't really make sense technically so we assume it was included in error. Let us know if we are misunderstanding something

[2020-05-05 22:34] alexrcabral commented on #1074
@rupeshparab Thanks for the clarification around Students having a single step in the sign-in process.

I think in this case "Next" still makes sense, since it proceeds to a redirect, and the success message will give the student visibility into the sign-up state change. It also works if we need to add more to the sign-up process for students in the future, such as choosing personalization setting

[2020-05-05 22:45] jscholes commented on #829
@benetechMatt

I assume this is no longer the plan?

[2020-05-05 23:01] jscholes commented on #973
@johnhbenetech I was assigned to this issue, but I'm not sure what I should be commenting on?

[2020-05-05 23:10] johnhbenetech commented on #973
@jscholes I think @alexrcabral Wants to discuss on your next a11y call about better options other than an aggressive modal

[2020-05-06 01:24] benetechMatt commented on #829
@jscholes Correct. While we haven't moved to the new wordpress based site, I'll close this issue as it will be resolved soon with the new site.

[2020-05-06 01:24] #829 closed

[2020-05-06 01:55] jscholes commented on #829
I think we need to talk about this some more (although not on this ticket).  The only thing we've heard about this so far is via https://github.com/benetech/MathShare/issues/1076, but I was under the impression that you'd shelved that effort for now.  There are technology choice concerns (i.e. why WordPress is required for a single page when the rest of the app will live outside of it).  But also

[2020-05-06 07:05] bognasoldev89 commented on #1084
**Tested with success**

Verified on QA env

**Verified cases**
- Opening help menu
- Comparing this to the screenshot from original post

**Summary**
A new help menu seems more spacious.

**Attachment**
Screenshot of help menu

![ms qa](https://user-images.githubusercontent.com/51324797/81146533-c60fe780-8f78-11ea-8112-9b4840b192cb.png)

[2020-05-06 07:05] #1084 closed

[2020-05-06 14:59] benetechMatt opened #1182 "math code displaying issue"
from teacher christina.irvine@guhsdaz.org on 5-4-20.
same teacher that reported issue #1174
Other students faced what you see in the attached picture. In fact, my original copy for 13.1 now includes similar text:

(3x^{2.}-4x+1)+(-\mleft.x..^{2.}+x-9)

[2020-05-06 15:00] benetechMatt commented on #1182
screenshot from teacher
![Screenshot from teacher showing the problem set page with all math equations being displayed as latex or mathml](https://user-images.githubusercontent.com/49413678/81192839-4ede5180-8f80-11ea-914d-16bbe500640a.jpg)

[2020-05-06 15:02] benetechMatt commented on #1174
followup from the teacher on 5-4-20
"I followed up with my student, and he was never able to load the page. The same thing happened to him today with the new assignment I posted. Two other students ran into this problem. I forgot to ask what version of Safari he is using. I'll let you know when I hear back from him."

[2020-05-06 15:07] johnhbenetech commented on #1174
We will need a lot more details before we can do anything with this.

Example problem sets, OS version, browser version.

[2020-05-06 15:17] johnhbenetech commented on #1182
I believe this is due to a mathlive change. Maybe @NSoiffer or @arnog has thoughts.

@benetechMatt It would be interesting to know how the teacher created these prompts. Specifically if they copied them from elsewhere and pasted them into mathshare.

Looking at the MathLive changelog it appears they changed somethings around LaTeX formatting related to mleft and mright:
https://github.com/arnog/ma

[2020-05-06 16:47] benetechMatt commented on #1182
@johnhbenetech emailed the teacher to find out how she created the equations

[2020-05-06 17:05] arnog commented on #1182
Which version of MathLive are you using?

What is the input to MathLive?

Entering "(3x^{2.}-4x+1)+(-\mleft.x..^{2.}+x-9)" into the current version of MathLive (see https://mathlive.io/examples/basic/index.esm.html) renders it correctly...

[2020-05-06 17:12] johnhbenetech commented on #1182
Thanks @arnog . I believe @NSoiffer pulled an update on Mar 10, so I'm assuming that's v0.34

@rupeshparab can you confirm? We can pull the latest version in dev and see if that fixes it and if not debug on our rendering side

[2020-05-06 17:22] rupeshparab commented on #1182
@johnhbenetech
I wasn't able to find the version in Neil's update commit: https://github.com/benetech/MathShare/commit/4e119d494f777738381e54d93b9215599f10aa99#diff-93477d415673af2f373e6445ec791019R1

But I tried creating a problem set with the text shared by Matt, and it seems to working on Prod and QA

https://mathshare.benetech.org/#/app/problemSet/edit/AHBCYUGKATWJY
https://mathshare-qa.diagra

[2020-05-06 17:25] johnhbenetech commented on #1182
@rupeshparab

Please look at: https://mathshare.benetech.org/#/app/problemSet/solve/FBKQYW4PSPTGE

and see if anything jumps out why that would stop being rendered correctly

[2020-05-06 17:47] rupeshparab commented on #1182
I tried a string from the solve link `(ab\mleft.c\mright.^{\mleft.2\mright.})(\left.\mleft.b\mright.\right.^{\mleft.3\mright.})(a)` on mathlive, it is rendering same as MathShare

MathLive:
![image](https://user-images.githubusercontent.com/6897505/81210521-9c45d780-8fef-11ea-9fb5-9b27177453ee.png)

MathShare
![image](https://user-images.githubusercontent.com/6897505/81210543-a49e1280-8fef-11ea-9d

[2020-05-06 18:19] arnog commented on #1182
I think I see what's going on.

Where did this input `((ab\mleft.c\mright.^{\mleft.2\mright.})(\left.\mleft.b\mright.\right.^{\mleft.3\mright.})(a)` come from? Was it captured from a previous version of MathLive?

The problem is that MathLive doesn't handle the `\mleft` command as input, although previous version could generate is as output. I can fix this by handling it as input.

Note however th

[2020-05-06 18:42] arnog commented on #1182
OK, I've checked in a fix in MathLive master. Let me know if you need a versioned build.

[2020-05-07 05:48] arnog commented on #1182
FYI, I have published Mathlive 0.50.1 which incorporates this fix.

[2020-05-07 16:12] jscholes opened #1183 "Incorrect heading positioning on problem set solve view"
On the `/solve` view for a problem set, the "Actions for this Problem Set" heading is incorrectly positioned after the "Problems in this Set" heading (right before the list of problems).  On `/edit`, the heading layout is correct.  It needs to be consistent across both views.

[2020-05-07 16:40] jscholes commented on #1086
I'm unclear about the workflow of this ticket.  We haven't been assigned to carry out accessibility review on this, nor on any of the related ones.  But it has been moved to development, and implemented with accessibility problems which we should've had a chance to address before code was written.

I have explicitly reverted PR https://github.com/benetech/MathShare/pull/1181.  Please provide more

[2020-05-07 16:48] johnhbenetech commented on #1086
@alexrcabral @benetechMatt This was moved to the Ready for Development column so I assumed it had passed review. I won't have the bandwidth to double check that everything has gone through the prescribed process so I rely on that workflow being accurate.

@alexrcabral can you pull this back and make sure to discuss it with the a11y team before we receive it for reimplementation

CC @jscholes

[2020-05-07 17:29] jscholes commented on #1094
Surfacing this as an issue which has not undergone accessibility review, but is marked as ready for development.

CC @alexrcabral

[2020-05-07 17:30] jscholes commented on #1129
Surfacing this as an issue which has not undergone accessibility review, but is marked as ready for development.

CC @alexrcabral

[2020-05-07 17:30] jscholes commented on #1130
Surfacing this as an issue which has not undergone accessibility review, but is marked as ready for development.

CC @alexrcabral

[2020-05-07 17:31] jscholes commented on #1131
Surfacing this as an issue which has not undergone accessibility review, but is marked as ready for development.

CC @alexrcabral

[2020-05-07 17:33] jscholes commented on #1086
There are several problems to pick apart here (in addition to the workflow concerns):

1. "Require description for each step" cannot be a check box, if it causes a setting or some other state to be updated without an apply-style button being pressed first.  Instead, it must be a `<button>` with an `aria-pressed` attribute.
2. For the "Share Problem Set" modal, @benetechMatt has suggested a level 3

[2020-05-07 17:44] sinabahram commented on #1086
Please note, there are other issues as well that this lack of process is true about. James and I expressed extreme and unmitigated concern about this on our call with Alex yesterday on this topic.

If the process is not followed, then there “will”, not “may”, be accessibility and other issues. This is a guarantee, not a possibility, and it is a P0 risk element in my opinion.

In short, without exc

[2020-05-08 16:03] alexrcabral commented on #1000
@jscholes Exactly -- only ever one prompt, only ever one "my work" section (which functions as the current active step).

Just to confirm, we'll be using the aria-pressed attribute with the labels:
- "Speak Prompt" for speaking the prompt
- "Speak Step N" for each given step
- "Speak My Work" for the my work section denoting the current editable step

[2020-05-08 16:06] alexrcabral commented on #995
Thanks @jscholes and @bpmcneilly, confirming we're going with your suggestions:
- Using the aria-pressed attribute to toggle state
- "Speak Prompt" as the label for speaking the prompt
- "Speak Step N" as the label for each given step
- "Speak My Work" as the label for the my work section denoting the current editable step

[2020-05-08 16:08] alexrcabral commented on #1001
@jscholes and @bpmcneilly thanks for the input

Confirming that the outline used for the "hover" state should be applied as an indication of keyboard focus

[2020-05-08 16:12] alexrcabral commented on #851
@johnhbenetech Do we have a means for testing out blocking google accounts via firewall/lockdown? Do you know if this would be an OS level error message or one we have control over?

[2020-05-08 16:16] alexrcabral commented on #1006
Nope that covers it, thanks @jscholes!

This is good to go with @benetechMatt's most recent mockup and description of the slider and the quick settings checkbox.

[2020-05-08 16:25] alexrcabral commented on #997
@jscholes Nope if nothing stands out to you this is good to go. Other related accessibility suggestions are incorporated via #1001

[2020-05-08 17:48] jscholes commented on #1000
@alexrcabral We've been thinking about this and discussing internally, and on reflection we feel two things are important to revisit here:

1. Explicit labels are going to be better than `aria-pressed`.  `aria-pressed` does indicate state, but not the semantics of the action to be carried out.  We think it would instead be better to describe what the button will do via a standard label.  The forma

[2020-05-08 21:15] alexrcabral commented on #1182
Thanks @arnog!

Moving forward on our side, this means we should update to the newest version of Mathlive (0.50.1) as well as conduct regression testing.

[2020-05-11 13:42] abaranowska1 commented on #977
@rupeshparab
User who has not logged in:
![All Problem Sets - Benetech Mathshare - Mozilla Firefox_247](https://user-images.githubusercontent.com/61964176/81568258-d02d4e00-939d-11ea-9700-c545f443f095.png)

Teacher:
![All Problem Sets - Benetech Mathshare - Mozilla Firefox_245](https://user-images.githubusercontent.com/61964176/81568294-db807980-939d-11ea-8219-745131ba0dd7.png)

Student:
![All Pro

[2020-05-11 16:12] rupeshparab commented on #977
@johnhbenetech
An api (https://mathshare-api-qa.diagramcenter.org/api/private/recentSolutions) which I had added in April is throwing 404 in QA env
https://github.com/benetech/MathShareBackend/commit/48dd03980a3e328ba226696a72a84be09d984771#diff-d71314653e8aa62bf2f4884066090689R44

I think it might need whitelisting in CloudFront

[2020-05-11 16:27] johnhbenetech commented on #977
@rupeshparab Is there something different about this endpoint compared to the others?

I dont remember having to whitelist /user, /config, /examplesets, etc

[2020-05-11 16:51] rupeshparab commented on #977
I thought it might be related to Cloudfront because when I enter an incorrect path (eg https://mathshare-api-qa.diagramcenter.org/api/problemSet/test) the error being thrown is different from the one which is thrown for the recentSolutions api

But it seems the 404 error is coming from the Java service, I will check its cause.

[2020-05-12 16:25] rupeshparab commented on #977
I triggered a backend deploy by pushing a random change to development, it seems it fixed the issue.
Although, I am not sure why the previous deploy was missing the api.

[2020-05-12 18:53] johnhbenetech commented on #1129
@alexrcabral another question that came up in a development meeting:

If a problem set creator uses the 'change math symbols' button to switch a problem set from palette A to palette B. Which of the following should happen:

1. Palette B should show for all previously created share/edit/solve/etc links as well as those going forward. This option is actually the quickest to accomplish technically.

[2020-05-12 23:10] alexrcabral commented on #829
@jscholes  I've set aside some time for us to talk about this during the accessibility meeting this week

[2020-05-12 23:27] alexrcabral opened #1186 "voice navigation bug on scrolling"

[2020-05-12 23:28] alexrcabral opened #1187 "Archive icon should be changed (currently it is a trash can)"

[2020-05-13 07:59] abaranowska1 commented on #977
@rupeshparab Confirmed that Recent Sets came back on the student account
![image](https://user-images.githubusercontent.com/61964176/81786541-1bf80880-9500-11ea-8639-aa3d3267e215.png)

[2020-05-13 07:59] #977 closed

[2020-05-13 08:33] abaranowska1 commented on #976
**Tested with success**
Verified on Mozilla Firefox v.75.0

Verified cases:

- "Benefits of signing in" link is displayed on the log in window and also on the homepage for unauthorized users.
![image](https://user-images.githubusercontent.com/61964176/81790077-249f0d80-9505-11ea-8e22-af9861f2a4b5.png)
![image](https://user-images.githubusercontent.com/61964176/81790085-28cb2b00-9505-11ea-95a2-6b7b

[2020-05-13 08:33] #976 closed

[2020-05-13 08:52] bognasoldev89 commented on #1170
**Tested with success**

Verified on QA env

**Verified cases**
- Going through MS app and checking the universal footer

**Summary**
Year on the universal footer is always 2020.

**Attachments**
Exemplary screenshots from different pages:
![ms 1170 1](https://user-images.githubusercontent.com/51324797/81792009-bf005080-9507-11ea-8db8-02c4b8aa36fa.png)
![ms 1170 2](https://user-images.githubuserco

[2020-05-13 08:52] #1170 closed

[2020-05-13 09:21] bognasoldev89 commented on #844
**Tested with success**

Verified on QA env

**Verified cases**
- Archiving problem set
- Restoring problem set

**Summary**
This feature works fine now. I didn't spot the issues I found earlier.  3 dot menu on problem set page doesn't allow the archiving problem set.
At this moment only a teacher can archive problem sets, but as I understood, students and others will gain this feature in the scop

[2020-05-13 09:21] #844 closed

[2020-05-13 13:08] abaranowska1 commented on #1074
**Tested with success**
Other option was added, this role has the same dashboard and abilities as Teachers.
![Screenshot from 2020-05-12 14-05-35](https://user-images.githubusercontent.com/61964176/81816371-87a39b00-952b-11ea-8ebb-7256df1fc8e0.png)

[2020-05-13 13:08] #1074 closed

[2020-05-13 15:16] johnhbenetech opened #1188 "Carry out analytics audit"
Evaluate tools to capture google analytics and intercom event tracking that occurs in the application. During the next full regression testing, document the page elements/actions that are tracked on each application view.

[2020-05-14 16:16] alexrcabral commented on #1000
Just to recap on the agreement from the Accessibility Meeting yesterday, we're good to go to development on the TTS and TTS settings with the current iteration, with the understanding that we will touch base in the future (first time four weeks from now) about testing other ways of surfacing audio controls, particularly regarding more complex prompts.

Example: https://mathshare-qa.diagramcenter.o

[2020-05-14 16:21] alexrcabral commented on #1000
And to confirm @jscholes' second point -- rather than aria-pressed, we will move forward with explicit labels based on action:

1. "Speak Prompt" for speaking the prompt
2. "Speak Step N" for each given step
3. "Speak My Work" for the my work section denoting the current editable step

Along with the accompanying
1. "Stop Speaking Prompt"
2. "Stop Speaking Step N"
3. "Stop Speaking My Work"

[2020-05-14 16:22] jscholes commented on #1000
@alexrcabral Right on.

[2020-05-14 16:23] alexrcabral commented on #995
Based on @jscholes' recommendations in #1000, rather than aria-pressed, we will move forward with explicit labels based on action:
1. "Speak Prompt" for speaking the prompt
2. "Speak Step N" for each given step
3. "Speak My Work" for the my work section denoting the current editable step

Along with the accompanying
1. "Stop Speaking Prompt"
2. "Stop Speaking Step N"
3. "Stop Speaking My Work"

[2020-05-14 16:42] jscholes commented on #995
@alexrcabral Just to highlight that this is one of those cases I referenced on the call, whereby we're copying accessibility or UX advice across tickets.  Would it make sense to have a single TTS button-related ticket which encompasses all of them?  It's okay if the answer is no, but if the tickets are significantly different, the comments probably should be as well.  I don't ever want to have out

[2020-05-14 17:31] alexrcabral commented on #1129
@johnhbenetech
2. Palette A should still show for any previously created links, but going forward all created links should show palette B.

While retroactively changing problem sets could be useful for a number of changes, it would run into issues with things like changed first steps or changed prompts. I think it would be beneficial to follow the same framework for all changes so teachers don't g

[2020-05-14 21:18] benetechMatt opened #1190 "Subscript and superscript displays brackets"
Curly brackets are added When using the sub or superscript buttons in the live and QA versions.

![screenshot showing the issue on a chemical equation entered ](https://user-images.githubusercontent.com/49413678/81987024-84c5aa80-95fe-11ea-97ba-0229c0a2e4db.png)

[2020-05-14 21:21] alexrcabral commented on #1094
Colour contrast confirmed 8.23:1 for active state and 6.02:1 for inactive state, which is acceptable for UI components.

As confirmation per @jscholes' suggestion, as long as this has the typical focus indicator and will be marked up as a button with aria-pressed, it's good to continue with development.

[2020-05-14 21:24] alexrcabral commented on #1129
As confirmation on the accessibility side, this should be good to continue with development so long as it follows heading-related best practice.

[2020-05-14 21:28] benetechMatt commented on #1190
Problem set showing this issue mathshare.benetech.org/#/app/problemSet/view/73HITH6ZXBHIG

[2020-05-14 21:43] alexrcabral commented on #1190
Thanks for surfacing this Matt!

I was able to reproduce this. The issue seems to be just with the buttons on our side, since the shortcuts ^ and _ are working successfully. I also checked this on MathLive and the superscript/subscript buttons are currently working there.

[2020-05-14 21:45] benetechMatt commented on #1190
They had worked on production in the past during some of my testing for science equations but I don't have a specific date. It was weeks ago

[2020-05-14 21:55] benetechMatt opened #1191 "additional steps not showing up bug"
When creating a new problem, additional steps do not show up on the shared link unless the creator of the set views a problem again.
process to duplicate the error
1. create a problem and open it
2. add a step and select finish
3. open the share link in a new tab and view the problem steps.  the second step will now show up
4. go back to the original problem set and open the problem, see that the

[2020-05-14 22:02] johnhbenetech commented on #1191
@benetechMatt thanks, can you try a few things:

1. When you first open the problem in the solve view can you refresh the browser and clear cache refresh to see if the second step appears?

2. Instead of using the 'finish to add' the step, can you use the actual 'add step' button then finish and see if it still happens

This will help narrow it down

[2020-05-14 22:10] benetechMatt commented on #1191
@johnhbenetech
1. when going to the /solve view refreshing the page and clearing the cache did not make a difference.  refreshing the /edit page did cause the second step to show up in /solve.

2. Selecting 'add step' instead of finish did not make a difference

I tested this for additional steps and it has the same issue.

[2020-05-14 22:21] johnhbenetech commented on #1191
@benetechMatt one more thing (for now)

Can you try waiting 10s after clicking finish before you click the share button?

[2020-05-14 22:25] alexrcabral commented on #1174
@benetechMatt checking back in on this, were you able to get further context from talking with the teacher?

e.g. example problem sets / assignment link that's causing the issues, OS version, browser version, how it was assigned

[2020-05-14 22:33] benetechMatt commented on #1191
waiting 10s didn't make a difference.
discovered another odd thing of the numbering changed /edit on the left /solve on the right.  the new problem I added is just " solve 8"
![image](https://user-images.githubusercontent.com/49413678/81992364-eb4fc600-9608-11ea-81b1-c1be9b89da50.png)

[2020-05-14 23:06] benetechMatt opened #1192 "Long division"
request of "digital graph paper" for completing long division. requested by ldumitr@nyccatteam.org

[2020-05-14 23:08] benetechMatt opened #1193 "Cloning tool for the sketch pad"
" an infinite cloner option for a shape in the sketch area? Kids often need to draw arrays and group objects in the early grades."

requested by ldumitr@nyccatteam.org

[2020-05-14 23:10] benetechMatt opened #1194 "Word/phrase bank for explanation"
“Is there capability to have a wordbank in the steps for those students that have a hard time verbalizing what should be done?”
This would also be useful for switch users

requested by Diane Fawcett

[2020-05-14 23:15] benetechMatt opened #1195 "Picture symbol support in explanations"
"Picture symbol support as well while you're at that"
Add the ability for students to use picture symbols when entering explanations
#1194

requested by Matthew Hoffman

[2020-05-15 00:28] alexrcabral commented on #995
@jscholes You're right, and this is a solid example. Since TTS and accompanying settings are already scoped/finalized with feedback and moved into dev I'd hesitate to mess with them. I'm down to reference "source-of-truth" tickets, in this case #1000. My intent with the copying over the comment was to prevent having to dig for the referenced information, since this ticket then had outdated informa

[2020-05-15 02:55] sinabahram commented on #1194
This is an interesting one. I think this should be implemented as part of a fully thought-out strategy for switch and AAC users. Lots of things to consider here, like preference of word bank over simply providing any lists for students’ own preferred AAC devices, as well as continuing the conversation from several weeks ago about switch usage of MathShare, which is a pre-requisite for doing this.

[2020-05-15 20:21] alexrcabral commented on #1073
Thanks @rupeshparab and @jscholes!

Since the associated pull request #1177 was approved I'll move this issue into QA

[2020-05-15 21:23] johnhbenetech opened #1199 "Bug: 'Create Problem Set' no longer working if you go into example set and return back to homepage"
To reproduce:
* Go to QA Dashboard
* Click into one of the example sets
* Go back to dashboard
* Try clicking 'create problem set'

Button doesn't seem to do anything in this case nor does it log any network activity of JS errors.

It does however work the first time on the dashboard.

[2020-05-15 21:23] johnhbenetech commented on #1199
@rupeshparab please investigate if related to recent backend/step changes

[2020-05-15 22:24] alexrcabral commented on #1064
Closing this issue since it's covered by #1073

[2020-05-15 22:24] #1064 closed

[2020-05-15 23:51] alexrcabral commented on #1086
@johnhbenetech
That is not an error. It's meant to support students who are creating their own problem sets being able to share their answers without having to duplicate their own set.

@jscholes
1. #1094 addresses this. The control is surfaced as toggle button with aria-pressed.
2. We won’t discuss headings since that’s not a design decision. However, if you could give suggestions or examples for

[2020-05-15 23:57] alexrcabral commented on #1031
Moving to Product Review since PR #1128 was approved and merged

[2020-05-15 23:58] alexrcabral commented on #973
Since #1132 was approved and merged, moving to Product Sign-Off

[2020-05-16 00:00] alexrcabral commented on #1130
Since #1167 was approved and merged, moving into Product Sign-Off

[2020-05-16 00:29] alexrcabral commented on #1131
@jscholes
Issue surfaced in previous conversation:

I think this is a really fair point, and something I was considering previously. Originally we landed on this design because there was no unified sharing modal, so it was the only way to have an effect on sharing to Google Classroom or Microsoft Teams.

Now I think it makes sense to be located with the other two related problem set options: requi

[2020-05-16 03:18] benetechMatt commented on #1082
Good points on the headings @jscholes. I’ll make this changes

Would you clarify what you mean by the rendering/sorting controls?

[2020-05-17 15:26] rupeshparab commented on #1199
this bug was introduced in this feature: https://github.com/benetech/MathShare/issues/973, I have merged its fix in QA env

[2020-05-17 15:26] rupeshparab commented on #1191
I have merged fix for both issues in QA env and raised the PRs for master

[2020-05-17 18:24] benetechMatt opened #1202 "Prompt does now show up when editing the problem"
When editing a problem that has already been created, the prompt text box is empty.

[2020-05-17 18:32] benetechMatt opened #1203 "Step automatically calculated/cleaned up by accident"
While working through this population growth problem, mathshare automatically calculated my step and gave me an answer in the "cleanup" step.  I used the stack below tool to put the equation below variable values
https://mathshare.benetech.org/#/app/problemSet/edit/3B43DA3EJC4A2/3

[2020-05-17 18:45] benetechMatt opened #1204 ""All problems" link does not take users to the problem set when opening links to specific problems"
I opened a link to a specific problem https://mathshare.benetech.org/#/app/problem/edit/MKDDO4MAUSZHK
When I clicked "all problems" it took me back to a new browser window instead of the problem set.  This happens if I'm editing the set or if I'm solving problems and whether I'm the set owner or not

[2020-05-17 18:47] benetechMatt commented on #1204
I'm thinking they user should be redirected to the problem set and then follow rules the same as if they had been shared the correct problem set link

[2020-05-18 09:53] bognasoldev89 commented on #1073
Verified on qa env.

**Verified cases**
- copying a link to Problem set as a not signed in user
-- /edit link
-- /solve link
- pasting those links as a
-- not logged in user
-- logged in user, both teacher and student

**Summary**
The links send a user to the right problem set with the right answers (if provided).

I saw one issue though:
- I logged in in a new tab at the same browser
- I pasted t

[2020-05-18 16:09] rupeshparab commented on #1073
These 2 issues are not introduced by this feature, both are present on production too.
Will move this ticket to product input, so that tasks can be created if those issues need to be fixed.

Listing the 2 issues:
1) Any user (logged out as well as signed in) with a link of a solution or a problem set created by another logged in user can get access to it.
2) Share link can be created for empty pro

[2020-05-18 16:19] johnhbenetech commented on #1083
This was intended to be a page on the site itself (HTML). So please create a new page /gettingstarted using the markup from the file

[2020-05-18 16:21] johnhbenetech commented on #1131
@alexrcabral Please provide final decision and new mockups if needed by EOD (or we will need to spike this to next sprint)

[2020-05-18 17:13] johnhbenetech commented on #1073
@rupeshparab I think point 2 is a different problem. @bognasoldev89 correct me if i'm wrong, Bogna actually created a problem set as an unauthenticated user containing one problem (you can see this in the screenshare). She then got the solve permalink and visited it. She then copied the solve link from the unauthenticated page.

With that link copied, she opened a new tab and logged in, then attem

[2020-05-18 17:40] rupeshparab commented on #1073
@johnhbenetech got it now
this could have happened if the save api failed and the share link wasn't updated.
I am also not able to replicate this issue

[2020-05-18 19:35] jscholes commented on #1086
Start the modal with an H1, H2 for child headings, H3 for grandchild headings, etc.  I only expect there to be an H1 in this modal, but this is the same heading-related advice that applies everywhere.

Understood, but it depends what that timeline looks like.  If we're talking a couple of weeks before a second option is added, I'm fine with it being a single-item list until then.  If we're talking

[2020-05-18 19:55] jscholes commented on #973
@alexrcabral Can we schedule a modal-related check-in/chat for an upcoming call?

[2020-05-18 20:39] alexrcabral commented on #1086
@jscholes

Thanks for clarifying, I get the issue now! This isn't a checkbox control nor is it visually similar to a checkbox control. This is a visual icon as part of the button for ease of understanding. It's modeled after a simple checkmark similar to the "Finished" icon, for students to understand it's the next step when they're done with their set.

Absolutely. Since in this case it's not cur

[2020-05-18 20:49] johnhbenetech commented on #1086
@alexrcabral I'm thoroughly confused since there's so much going on across various issues. Can you give us updated mockups for the problem set controls/three dots for each of the user types and cases. There are a lot of combinations here and I fear it's ripe for misunderstanding on our part

[2020-05-18 21:06] jscholes commented on #1082
@benetechMatt The reordering/sorting controls for arranging problems within a set.  See #764.

[2020-05-18 21:18] jscholes commented on #1086
@alexrcabral All good, thanks for that input.

[2020-05-19 01:01] alexrcabral commented on #1131
@johnhbenetech Final decision continuing forward unless I hear otherwise from @jscholes.
Mockups are not changing for this issue.

[2020-05-19 01:09] alexrcabral commented on #1086
@johnhbenetech I can get those in tomorrow morning / early afternoon since the sharing modal needs to be remade for the edits.

[2020-05-19 01:10] alexrcabral commented on #973
Sure thing, I'll make a note of it for the meeting the week after next (06/03)

[2020-05-19 06:56] bognasoldev89 commented on #1073
@johnhbenetech exactly.
@rupeshparab but I tried the same link on another browser incognito mode and it worked. That's why I asked if this could be some cookies issue.

I recreated my reproductions steps and now logged in user can see the problem set correctly from the link.

[2020-05-19 08:17] bognasoldev89 commented on #1031
**Tested with success**

Verified on qa env
Chrome v80.0.3987.149

**Verified cases**
- Solving numerous problems (proposed and newly created) by
-- teacher
-- student
-- not signed in user
- Saving problems
- Clicking "All Problems" button
- Checking if the main header works as expected

**Summary**
Navigation bar works fine, the problem is presented correctly, "All problems" button sends to all

[2020-05-19 08:17] #1031 closed

[2020-05-19 10:26] bognasoldev89 commented on #1199
**Tested with success**

Verified on qa env

**Verified cases**
- following reproduction steps for
-- teacher
-- student
-- not signed in user

**Summary**
This issue no longer occurs

**Attachment**
Exemplary gif:
![ms 1199](https://user-images.githubusercontent.com/51324797/82315718-01c09d80-99cc-11ea-83d9-3a7c8abb3b34.gif)

[2020-05-19 10:26] #1199 closed

[2020-05-19 10:55] abaranowska1 commented on #970
"Next Problem" button was added to the bottom of the screen and  "wrap around" rotating button approach was used
![image](https://user-images.githubusercontent.com/61964176/82318281-df308380-99cf-11ea-93d4-afad4b8d2a23.png)

[2020-05-19 10:57] abaranowska1 commented on #969
"Previous Problem" button was added to the bottom of the screen and "wrap around" rotating button approach was used
![image](https://user-images.githubusercontent.com/61964176/82318554-57974480-99d0-11ea-94cc-b63702d07521.png)

[2020-05-19 10:58] #969 closed

[2020-05-19 10:58] #970 closed

[2020-05-19 18:04] rupeshparab commented on #1073
It shouldn't be a cookie issue, as cookie is only being used for storing session. Moving this back to QA as I am not able to replicate the issue.

[2020-05-19 21:12] alexrcabral commented on #1086
@johnhbenetech @rupeshparab This may be repetitive but hopefully this will clarify what's being asked in this issue. If you have any questions please don't hesitate to ask.

### Creators/owners of the set only
Problem set creators/owners can share a version of the set that can be completed by others. This is done through a "Share Problem Set" button located in the problem set dropdown.

<img width

[2020-05-19 21:48] jscholes commented on #1086
@alexrcabral From our side, summaries like this are incredibly helpful in gaining an understanding of the current state of play for a design or idea.  So no worries about repetition over here.

[2020-05-19 22:31] alexrcabral commented on #1131
Summary:

When sharing the problem set, there should be a toggle option to "Include my work when sharing". Work is defined as any steps & step descriptions added to the problems aside from the initial prompt. This toggle is by default inactive, and any change to the toggle is remembered and persists within that owner's problem set.

![Mockup showing the title "Problem set controls:", with two togg

[2020-05-20 00:21] alexrcabral commented on #1089
From recent updates, set owners are now able to add steps to a problem set. This allows students to create and answer problems more easily.

Problem: Users who are signed in as students currently cannot view problem sets they've created.

Solution: All problem sets a user has created (/duplicated) or added steps to should be listed under Recent Sets.

[2020-05-20 07:40] bognasoldev89 commented on #1073
@rupeshparab @johnhbenetech I couldn't reproduce this issue anymore.
I retested this feature again and it works fine now, without any interruptions.

[2020-05-20 07:40] #1073 closed

[2020-05-20 16:59] johnhbenetech commented on #1203
It seems that stack below is being interpreted as "add the two lines together", you can see this using simple integer examples. I'm not sure exactly how it interprets letters and variables into values to add, but it does in some way

[2020-05-20 20:33] benetechMatt commented on #1082
content updated. Will need to review for changes with each release for feature or accessibility changes

[2020-05-20 21:10] benetechMatt opened #1206 "Add non-student roles, job title, and grades into Intercom"
For anyone that does not select that they are a student when signing up, this information should be added to Intercom as new custom fields
Role - teacher, non-teacher, etc.
grade
job title

Is there any additional information currently being asked or collected when users sign up?

[2020-05-20 21:11] benetechMatt commented on #1206
would also like the change to be retroactive

[2020-05-20 21:26] alexrcabral commented on #1206
@benetechMatt That's the full list of information currently being asked during Teacher sign up, so I don't believe there's information in addition to that.

[2020-05-21 11:24] bognasoldev89 commented on #1191
**Tested with success**

Verified on qa env

**Verified cases**
- Creating Problem set -> a few problems
- Providing answers for some of them
- Sharing permalink
- Opening link and checking problems details
- Checking problems numeration

**Summary**
I always got every problem and answers if provided by a shared link. Numeration is consistent.

**Attachment**
- Sharing problem set with one problem

[2020-05-21 11:24] #1191 closed

[2020-05-21 12:50] abaranowska1 commented on #1130
**Tested with success**
- Name was changed to "Duplicate to edit/share"
![image](https://user-images.githubusercontent.com/61964176/82560182-39b51580-9b71-11ea-97c4-0810225eac47.png)
![image](https://user-images.githubusercontent.com/61964176/82560191-3de13300-9b71-11ea-8c06-889d4423c848.png)
![image](https://user-images.githubusercontent.com/61964176/82560205-45a0d780-9b71-11ea-8ed3-16b3c6098f0c.

[2020-05-21 12:50] #1130 closed

[2020-05-21 16:05] benetechMatt commented on #961
Lisa knows someone that would like to provide input and test this

[2020-05-22 01:01] benetechMatt opened #1207 "Equations don't paste correctly from Aleks"

[2020-05-22 01:10] benetechMatt opened #1208 "screen reader speaking parenthesis as a pause when it's around a negative nummber"
reported by taylor
 screen reader reads the -5. “three minus pause hyphen five”
It’s not reading the parenthesis. Does a pause instead of speaking parenthesis if it’s around a negative number. Other times it reads parenthesis as “fence”

[2020-05-22 01:13] benetechMatt opened #1209 "sub and superscripts not spoken correctly when at the end of an equation"
Issue of not reading super and subscripts at the end of an equation (only) unless you arrow over.

[2020-05-22 10:51] bognasoldev89 commented on #1183
**Tested with success**

Verified on qa env

**Verified cases**
- comparing /edit and /solve views

**Summary**
Heading is positioned in the same way on both views.

**Attachments**
- edit view
![ms 1183 edit](https://user-images.githubusercontent.com/51324797/82660592-edc6a700-9c2a-11ea-9f6e-f04679c67e6c.png)

- solve view
![ms 1183 solve](https://user-images.githubusercontent.com/51324797/826606

[2020-05-22 10:51] #1183 closed

[2020-05-22 11:16] abaranowska1 commented on #1190
**Tested with success**

**Verified cases:**
- After click subscript and superscript values displays without curly brackets
![Peek 2020-05-22 12-57](https://user-images.githubusercontent.com/61964176/82662507-4481b000-9c2e-11ea-8c8f-eab4f82d27af.gif)

**Verified on:**
-QA environment
- Firefox v 75.0
- Google Chrome v. 81.0.4044.92

[2020-05-22 11:16] #1190 closed

[2020-05-22 11:57] abaranowska1 commented on #973
@johnhbenetech @rupeshparab
After read all comments above I'm a little confused about what is an expected result.
I can see sign in pop up window when:
- I open a Problem set from a shared link and I'm not signed in
- I open Example Problem Sets and I'm not signed in
I cannot see this sign in window when I'm creating a new Problem and I'm not signed in
If it is  expected I can close this issue
![P

[2020-05-22 12:10] johnhbenetech commented on #973
@abaranowska1 you can close it. Product signed off on approach

[2020-05-22 12:23] #973 closed

[2020-05-22 12:57] bognasoldev89 commented on #1026
**Tested with success**

Verified on qa env

**Verified cases**
- Clicking buttons on problem view
-- Finish
-- Previous
-- Next
- Controlling the homepage if the count of solved problems per set is correct

**Summary**
The number of solved problems within the problem set is displayed correctly on the homepage. Only the "Finish" button checks the problem as solved. After finishing all of the probl

[2020-05-22 12:57] #1026 closed

[2020-05-22 15:45] jscholes commented on #1208
CC @sinabahram and @NSoiffer

[2020-05-22 15:46] jscholes commented on #1209
CC @sinabahram and @NSoiffer

[2020-05-22 15:48] jscholes commented on #1207
Is this an Aleks bug or a MathShare one?  What I'm reading is that Aleks is not copying appropriately formatted math to the clipboard, which isn't really MathShare's problem to solve.

CC @sinabahram Do you have any experience with Aleks and its accessibility?

[2020-05-22 17:31] benetechMatt opened #1212 "Can't paste MathML"
requested by Taylor oit-stl@wmich.edu

It would be good to have mathshare recognize mathML to then convert to a form that mathshare can render. Right now, if I put mathML into mathshare it is a mess. This is important because lots of websites use mathML for presenting their math content. This is a consideration because you would have to convert using math Type which isn’t accessible for screen rea

[2020-05-22 18:02] benetechMatt commented on #1148
This URL error prevents users from adding their problem set to the public library.  Google Forms requires http at the beginning of the URL to consider it a valid URL.  Turned off link validation in the form until this issue is resolved

[2020-05-22 21:34] alexrcabral commented on #1207
@jscholes We talked about this during the standup today, and your point is correct in that it's not a bug, but rather a nonstandard format that it's copying to the clipboard. Their formatting isn't something we can change on our end, though it does bring up a larger conversation of which formats we can handle with Mathshare.

And Sina please do chime in if you know about the accessibility of Aleks

[2020-05-22 21:38] alexrcabral commented on #1203
Could you take a look at this issue on the QA side to try and figure out the specifics on what is happening with this bug?

[2020-05-25 12:25] abaranowska1 commented on #1203
@benetechMatt
I tried to reproduce this bug on QA environment, but I can't. Could you give me a reproduction steps or record a gif?

[2020-05-25 14:04] abaranowska1 commented on #1203
I noticed such things on Firexof Browser ( v.76.0.1 ) when I marked for example 31,771 and click "stack below" button, add 2 and add the step I get 773 which is false. When I marked the whole expression and use stack below with "2" I get the interesting thing P=31,711//2.
Also I met an issue on Firefox, because I cannot delete values from "my work" using "Backspace or Delete" keyboard buttons.
![P

[2020-05-25 14:09] johnhbenetech commented on #1203
@abaranowska1 can you look a bit more into the backspace/delete/undo issues (are they caused by stack below? Do they happen in other browsers?) Then if needed create a separate task for them

[2020-05-25 14:09] johnhbenetech commented on #1203
@alexrcabral please let us know how you'd like to proceed

[2020-05-25 14:56] abaranowska1 opened #1214 ""My work" cannot be deleted by "Backspace and Delete" keyboard buttons on QA instance"
**Description**
"My work" cannot be deleted by "Backspace and Delete" keyboard buttons on QA instance

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://mathshare-qa.diagramcenter.org'
2. Go to one of the Problem
3. Type something in "My work" field
4. Try to delete inputs by keyboard buttons

**Expected behavior**
Data should be deleted after click Backspace/Delete buttons

**Sc

[2020-05-25 14:57] abaranowska1 commented on #1203
@johnhbenetech I created a new task https://github.com/benetech/MathShare/issues/1214 it occurs only on QA instance

[2020-05-25 15:01] johnhbenetech commented on #1214
@rupeshparab can you take a look at this?

[2020-05-25 18:52] rupeshparab commented on #1214
I tried using delete and backspace after selecting text from keyboard as well as mouse, it seems to be working for me
the only case when it doesn't work is if I select the text and the move focus somewhere else

@johnhbenetech can you check if you can replicate this?

[2020-05-25 22:27] alexrcabral commented on #1203
@johnhbenetech is the calculation happening on our side or on the MathLive side?

Since there are no standard calculations inherent in stack below, ideally to proceed we should adjust the "clean up" stage so it does not affect stack below.

This should result in all the lines involved in stack below being brought down to the following step.

[2020-05-26 00:51] johnhbenetech commented on #1203
@rupeshparab can you look into the cause of this?

[2020-05-26 00:55] johnhbenetech commented on #1214
@rupeshparab seems to be specific to Ubuntu oddly

You get a "TypeError: r is undefined" in main.js - so not that helpful/

@alexrcabral can you help prioritize a bug that seems to only affect Ubuntu OS?

[2020-05-26 00:56] johnhbenetech commented on #1214
Also as a reminder @rupeshparab it doesnt occur on prod, so probably broken by a recent change. Maybe mathlive upgrade?

[2020-05-26 10:50] bognasoldev89 commented on #1182
I tried pasting problems mentioned in this issue into MathShare (qa env) and it seems to be fine now.

We'll recheck it closely during regression.

Gifs with proof:
![ms 1182](https://user-images.githubusercontent.com/51324797/82892239-6ab98f80-9f4f-11ea-88ea-e4a6e33bf1c1.gif)

![ms 1182 2](https://user-images.githubusercontent.com/51324797/82892241-6beabc80-9f4f-11ea-9b56-1d1d225e58b7.gif)

[2020-05-26 10:50] #1182 closed

[2020-05-26 11:15] rupeshparab commented on #1214
@johnhbenetech
I have reverted the MathLive upgrade PR temporarily to check if the upgrade is causing this issue.

@abaranowska1
Can you please retry if backspace is still now working on Ubuntu?

[2020-05-26 14:01] abaranowska1 commented on #1214
@rupeshparab Now it works :+1:

[2020-05-26 14:10] rupeshparab commented on #1214
@abaranowska1 Thanks for checking it

@johnhbenetech
It seems this issue was caused because of the MathLive upgrade.

[2020-05-26 14:17] johnhbenetech commented on #1214
@rupeshparab can you try taking the latest mathlive and see if this issue was repaired there? If not we can revert and raise a big report.

I know we upgraded in order to fix some issues from other tasks so I don't want to completely roll back unless we have to

[2020-05-26 15:42] rupeshparab commented on #1214
@johnhbenetech
I have upgraded mathlive to 0.52.0, everything seems to we working locally on the new version

@abaranowska1 Can you check if you are facing the backspace issue on Ubuntu?

[2020-05-26 15:54] johnhbenetech commented on #1214
@rupeshparab Now the whole problem view page doesnt load with a bunch of JS console output. Ok so I guess let's roll back to the working version for now.

@abaranowska1 Once the rollback is done please retest #1182 and #1190

[2020-05-26 16:25] rupeshparab commented on #1214
@johnhbenetech
I have reverted the upgrade

[2020-05-26 21:37] alexrcabral commented on #1214
@johnhbenetech In regards to priority, if it's between staying in sync with MathLive and being fully operational on Ubuntu, I would prioritize the MathLive update. We can also surface bugs to Arno as needed.

[2020-05-27 11:01] abaranowska1 commented on #1190
@johnhbenetech I retested this ticket due to #1214 . Still it works fine, after click subscript and superscript values displays without curly brackets

**Verified on:**

- QA environment
- Firefox v 76.0.1
- Google Chrome v. 83.0.4103.61
- Ubuntu 18.04.4 OS

[2020-05-27 11:04] abaranowska1 commented on #1214
@rupeshparab
Once again I confirmed that now I didn't notice any issue with backspace/delete on MathShare QA instance using new Ubuntu 18.04.4 OS

[2020-05-27 14:04] #1214 closed

[2020-05-27 14:11] bognasoldev89 commented on #1182
Issue still works as expected

[2020-05-28 00:21] alexrcabral commented on #1203
Looks good now, thanks for getting to the bottom of it @abaranowska1 and @rupeshparab!

[2020-05-28 16:00] benetechMatt opened #1221 "Add a clear way for users to ask questions and report bugs"
Currently there is a "Give Feedback" link in the help menu.  There is also the Intercom chat tool and help center. If users want to ask a question or report a bug it's not clear if they should use the Give Feedback for, the intercom button, or email us.

[2020-05-28 23:16] alexrcabral opened #1222 "Labels for arrow buttons on problem set creation modal"
Problem: Currently only labelled "button."

Solution: Should be labelled appropriately (e.g. "up arrow" and "down arrow") with state information (how to best display information about an inactive button, e.g. down arrow for the last problem in a set?).

Should also double check how focus is handled after the arrow buttons are used.

[2020-05-29 06:56] abaranowska1 commented on #1203
For me it also looks good now, step is not automatically calculated/cleaned up by accident
![Peek 2020-05-29 08-53](https://user-images.githubusercontent.com/61964176/83230389-f880bf00-a189-11ea-8f04-3711b8a6cdc5.gif)

[2020-05-29 06:56] #1203 closed

[2020-05-29 16:43] #1083 closed

[2020-05-29 17:42] johnhbenetech commented on #1001
@alexrcabral So just as a consideration, we have the capability to do both pause and stop/restart actions. Let us know if that changes your design decision. If not we will continue with the stop/restart approach

[2020-05-29 17:43] jscholes commented on #1222
"Up arrow" and "down arrow" are not appropriate labels.  They describe the visual appearance of the button icons, not the actual purpose.  We should discuss what labels should be applied, and how much of the text will be visible (if any) vs just for screen reader users, as we develop our functional requirements around this reordering behaviour.  For example we could have "move down", "move below p

[2020-05-29 17:45] jscholes commented on #1222
In addition, I don't think this should be scoped to the problem set creation modal.  If we extract the functionality out of the modal, we discussed moving the reordering functionality into the edit view (and possibly the add problems view as well?).  I think getting those view-based requirements enumerated should be a priority.

[2020-05-29 17:59] rupeshparab opened #1224 "Fix accessibility of Modals"
Fix these issues present in the existing modals:

1) Usage of H3 heading in place of H1
2) Not having aria-label (use the aria-labelledby with id of heading)

[2020-05-29 20:04] alexrcabral commented on #1082
Closing this issue since basic content is complete. #1083 and PR #1213 encompass the code changes along with further revisions.

[2020-05-29 20:04] #1082 closed

[2020-05-30 02:11] alexrcabral commented on #1001
@johnhbenetech Thanks for the consideration. The ability to stop/restart a phrase will likely be most beneficial for students since the primary use is working through short math phrases. I'll keep it in mind for the planned TTS user testing though.

For this issue we should continue forward with the stop/restart approach

[2020-06-02 16:47] benetechMatt opened #1227 "Students can't archive problem sets"

[2020-06-02 16:51] benetechMatt opened #1228 "Problem sets created by students don't show up in their dashboard"

[2020-06-02 18:05] rupeshparab commented on #995
@alexrcabral
Do we need the TTS button on the Math Editor for Problem Set Creator?
![image](https://user-images.githubusercontent.com/6897505/83553999-b8269580-a529-11ea-92ac-8fd65d73b409.png)

[2020-06-02 23:27] alexrcabral commented on #1067
This was completed and released in v1.1.0

[2020-06-02 23:27] #1067 closed

[2020-06-02 23:29] alexrcabral commented on #762
Completed and released as part of v1.1.0

[2020-06-02 23:29] #762 closed

[2020-06-03 00:01] alexrcabral commented on #995
@rupeshparab Thanks for bringing this up. Yes, there should be TTS on the Math Editor for the Steps and the Math Editor for the Problem Set Creator, similar to how they're surfaced for problem solving.

Labels:
1. "Speak Problem N" / "Stop Speaking Problem N" for already created problems
2. "Speak Current Problem" / "Stop Speaking Current Problem" for the active problem in the Math Editor

[2020-06-03 23:55] alexrcabral commented on #1088
Closing issue since this is achieved through the Getting Started page implemented in the recent release.

[2020-06-03 23:55] #1088 closed

[2020-06-04 02:34] alexrcabral commented on #846
Beta "pill" in header: dark blue (#0256B4) on white (#FFFFFF)

<img width="343" alt="Mathshare logo with the beta designation in a small white oval on its right." src="https://user-images.githubusercontent.com/47576069/83706857-69323c00-a5cd-11ea-9085-7ac9731120be.png">

Footer:
- dark gray (#595959) on white (#FFFFFF) for the "IDEAS that work" portion
- white (#FFFFFF) on dark gray (#595959) for

[2020-06-04 09:50] abaranowska1 commented on #1204
**Tested with success**
I can't reproduce the bug, every time when I clicked "All problems" button users are taken to the problem set view. In my opinion, it was fixed.
![Peek 2020-06-04 11-47](https://user-images.githubusercontent.com/61964176/83742187-6a10af80-a659-11ea-8dd4-e996e2d65e16.gif)

[2020-06-04 09:50] #1204 closed

[2020-06-04 22:12] alexrcabral commented on #1006
Thanks for surfacing @rupeshparab, “Quick Settings” was a holdover from a previous set of issues so you can disregard it.

And yes, the voice speed option should be added to our existing “Personalization Modal” so it would look like:

<img width="646" alt="Mockup of Personalization Settings showing the options Font, Line Height, Letter Spacing, and Alert close time (in secs) with their correspondi

[2020-06-05 00:38] benetechMatt commented on #1207
python script that Taylor wrote for that converts math copied from Aleks to a format that can be pasted into Mathshare https://drive.google.com/drive/folders/1HWWvuDIEi-zuTAMdTpplq0Yi5r01SwnZ

[2020-06-05 01:06] benetechMatt opened #1230 "Calculate with prefixes such as $"
The calc button cannot calculate $100*2 when the $ symbol is highlighted because it's not a number.  This could confuse some students because $100 is a number in their minds.
Solution: be able to calculate some types of equations where numbers include units.

[2020-06-05 03:25] alexrcabral commented on #1202
I was able to replicate this (macOS 10.15.4, Chrome).

To replicate:
- Go to an existing problem set which you own
- Select the three-dot dropdown on one of the existing problem cards
- Select "Edit Problem"

The existing prompt for that problem does not show up in the text box:

<img width="1190" alt="Screen Shot 2020-06-04 at 8 17 32 PM" src="https://user-images.githubusercontent.com/47576069/83

[2020-06-05 03:39] alexrcabral commented on #1139
Agreed with @abaranowska1, this should be changed to the expected behavior: only the selected palettes should show up on problem set creation.

[2020-06-05 03:52] alexrcabral commented on #1137
This bug is no longer occurring for me in the current build so it's likely fixed, though I'll keep an eye out.

[2020-06-05 03:52] #1137 closed

[2020-06-05 17:02] benetechMatt commented on #1174
Have not received a response from the user on this issue. Now that school is over it's unlikely we can replicate it on their end

[2020-06-05 17:25] johnhbenetech commented on #851
Without having full details (it's been a while since I touched IT controls stuff) it's likely something in their domains Google or Microsoft configuration around permission controls. For example, at a domain level they may disable any external access to profile info, or disable Oauth entirely. Hard to say.

The one thing we can probably do is link out to a FAQ page if the oauth fails. It might fai

[2020-06-08 16:59] johnhbenetech opened #1234 "when in sketchpad view, hitting next/prev button improperly displays button palletes"
To reproduce:

1. In my work page, switch to sketchpad view
2. Hit 'next problem' button

Expected
* next problem should display with sketch view

Result
* next problem displays with sketch view but button pallette improperly displays below

[2020-06-09 08:25] abaranowska1 opened #1237 "UI issue when the title of the Problem Set is too short"
**Description**
UI issue when the title of the Problem Set is too short. "Duplicate to edit/share" is out of the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Problem Set'
2. Click on '...' near title

**Expected behavior**
Despite the short titles "Duplicate to edit/share shouldn't be out of the page

**Screenshots**
![image](https://user-images.githubusercontent.com/61964176/

[2020-06-09 08:43] abaranowska1 opened #1238 ""Continue without signing in" doesn't work after clicking the link via "Log in" button"
**Describe the bug**
"Continue without signing in" doesn't work after clicking the link via "Log in" button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mathshare-qa.diagramcenter.org/#/
2. Click on 'Log in' button
3. Click on "Continue without signing in" link

**Expected behavior**
MS home page with problems should display.

**Screenshots**
![msqa](https://user-images.gith

[2020-06-09 12:50] johnhbenetech commented on #1238
@alexrcabral I know we've talked about this at various points. Do we want to go ahead and change this so it sends you to the dashboard and not leaving you on home page?

[2020-06-09 15:58] #1174 closed

[2020-06-09 21:46] alexrcabral opened #1241 "Update Share Modals to Surface Link Text"
The “Share My Answers” modal and the “Share Problem Set” modal should be updated to include the surfaced link text, with the copy updated as listed below. The link should be surfaced within a text box, with ellipses for truncation (similar to how browsers handle longer URLs), followed by a button to Copy Link.

### Share My Answers
New Copy: “Submit your answers to Google Classroom or Microsoft Te

[2020-06-09 22:05] jscholes commented on #1241
I'm not sure about truncation here.  How do users know which part(s) of the link they've highlighted if part of it is hidden?

[2020-06-09 23:26] alexrcabral commented on #1241
Users will be able to interact with the text box similarly to how they interact with a standard address bar on a browser. If users decide to highlight only a portion of the link, the displayed text follows the cursor when highlighting with a mouse or keyboard so they know where their selection stops.

[2020-06-09 23:29] sinabahram commented on #1241
Sorry, I don’t get it. We’re displaying the entire URL, right? if not, then this won’t work.

[2020-06-09 23:49] alexrcabral commented on #1241
@sinabahram What are the reasons this wouldn't work?

[2020-06-10 00:44] sinabahram commented on #1241
How is the text able to be copied in full if it is truncated?

[2020-06-10 07:50] abaranowska1 commented on #1129
From QA side:

**Question:**

1. "Chang math symbols" button change palette on every single problem in the problem set, is it expected result or should we have an option to choose in which problem we want to change pallet?

![Peek 2020-06-10 09-47](https://user-images.githubusercontent.com/61964176/84241282-9025cc00-aaff-11ea-8706-0d6f7983ff09.gif)

**Verified cases:**
- Problem set controls table

[2020-06-10 08:30] abaranowska1 commented on #1131
**Tested with success**

**Verified cases:**
![image](https://user-images.githubusercontent.com/61964176/84244682-4986a080-ab04-11ea-90d1-c2af5e6bfa86.png)
-  "Include my work when sharing" toggle is inactive by default
- Any change to the toggle is remembered and persists within that owner's problem set
- Changing this setting is not retroactive to work that been started
- When the toggle is set

[2020-06-10 08:38] #1131 closed

[2020-06-10 09:48] abaranowska1 commented on #1094
From QA side

Verified cases:
![image](https://user-images.githubusercontent.com/61964176/84249959-b3ef0f00-ab0b-11ea-9104-550f1a18ce4c.png)
- **"Require explanation" toggle button is inactive by default** @johnhbenetech @benetechMatt Shouldn't be checked by default ?
- "Require explanation" active - the user shouldn't add a description to the steps
- "Require explanation" inactive - the user shou

[2020-06-10 10:37] johnhbenetech commented on #1129
@abaranowska1 pallette should apply to all problems, so I think we are all good

[2020-06-10 10:39] johnhbenetech commented on #1094
@alexrcabral confirm the default is explanations are not required?

[2020-06-10 11:03] abaranowska1 commented on #1086
Thanks, @alexrcabral  for sum up the whole discussion in the end, it is helpful during testing :)

From QA side:

**Tested with success**

**Verified cases:**
- Problem set creators/owners can share a version of the set that can be completed by others. This is done through a "Share Problem Set" button located in the problem set dropdown.
![Peek 2020-06-10 12-51](https://user-images.githubuserconte

[2020-06-10 11:05] abaranowska1 commented on #1129
@johnhbenetech Ok, thanks. Now I can close it.

[2020-06-10 11:05] #1129 closed

[2020-06-10 11:09] abaranowska1 commented on #1237
**Tested with success**

UI issue was fixed. Now it looks better
![image](https://user-images.githubusercontent.com/61964176/84261167-99bd2d00-ab1b-11ea-8518-6860e6e561f1.png)

[2020-06-10 11:10] #1237 closed

[2020-06-10 11:26] rupeshparab commented on #1086
@abaranowska1
The "Successfully copied to clipboard" announcement is currently using aria-live, it should be audible when using a screen reader. Will also add a visual alert for it.

[2020-06-10 11:30] abaranowska1 commented on #1086
@rupeshparab Oh ok, I thought that it should look like a standard notification for example
![image](https://user-images.githubusercontent.com/61964176/84262764-79db3880-ab1e-11ea-8bc2-afab6a441cd3.png)

[2020-06-10 11:43] abaranowska1 commented on #1139
**Tested with success**

After select only one, two or three from four available pallets still, chosen pallets are available during creating a new problem. There is also an edit pallet option related to the issue: #1129

![Peek 2020-06-10 13-12](https://user-images.githubusercontent.com/61964176/84262578-21a43680-ab1e-11ea-9254-f6aebc94d3d9.gif)
![gif](https://user-images.githubusercontent.com/619

[2020-06-10 11:43] #1139 closed

[2020-06-11 20:59] jscholes commented on #1006
@alexrcabral What is the status of the personalisation modal?  Is it only at the design stage for now?

Also, should it be a modal?  Given our recent discussions about avoiding modal usage, particularly for content with many interactive controls, I really think this should be a page instead.

[2020-06-11 21:13] jscholes commented on #1089
"Recent sets" is for recent sets.  Not for created sets.  There are all sorts of cognitive overhead questions posed by this suggestion:

1. How many recent sets are displayed in the recent sets list?
2. When that number is exceeded, and recent sets start to disappear, do the created sets start to disappear along with them?
3. If they do, how do I find them?
4. If I don't, why are they still there?

[2020-06-11 21:33] jscholes commented on #1241
Truncating content is generally confusing, particularly when targeting users with any learning disabilities or other cognitive concerns.  Users may ask internal questions such as:

1. Is there something wrong with the website, the individual field, or both?  Should I report this?
2. Is there something wrong with my screen enlargement software/other assistive technology?  Who should I report this t

[2020-06-15 06:33] abaranowska1 opened #1249 "Regression tests 15-06-2020"
After adding a lot of new changes to the project, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

**Link for test suite:**
https://docs.google.com/spreadsheets/d/1vkMMKqIBnP8g1gRzewXYTsS81m56V13YgtBivD4RKdA/edit#gid=0

[2020-06-15 07:13] abaranowska1 commented on #1086
@rupeshparab
I didn't see any visual notification after copying link.

![Peek 2020-06-15 09-07](https://user-images.githubusercontent.com/61964176/84628114-5e8a7780-aee8-11ea-8a86-32ca1f317e5f.gif)

- QA instance
- Ubuntu 16.04 OS
- Mozilla Firefox v. 77.0.1
- Google Chrome v. 83.0.4103.61

[2020-06-15 08:40] rupeshparab commented on #1086
The PR of this change (https://github.com/benetech/MathShare/pull/1244) has not been merged, it is currently in Accessibility Audit

[2020-06-15 09:41] abaranowska1 opened #1250 ""Benefits of signing in" link is not available on MS homepage"
**Describe the bug**
"Benefits of signing in" link is not available on MS homepage

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app without signing in

**Expected behavior**
Under "Log in to track your problem sets"  Benefits link should be available

**Screenshots**

![image](https://user-images.githubusercontent.com/61964176/84642423-bcc15580-aefc-11ea-8056-6f407f656bef.png)

**De

[2020-06-15 11:43] abaranowska1 opened #1251 "UI issue on tutorial feature"
**Describe the bug**
UI issue on the tutorial feature. In the third step, the selection should be wider.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the "?" icon
2. Pick tutorial
3. Go to the third step

**Expected behavior**
In the third step, the selection should be wider. The whole buttons "Symbols and Sketch" should be selected.

**Screenshots**
![image](https://user-images.git

[2020-06-15 15:29] benetechMatt opened #1252 "Setup Intercom to send emails from our domain"
this will reduce the chances of our emails being marked as spam. Requires DKIM verification
Instructions:
https://www.intercom.com/help/en/articles/182-a-guide-to-sending-email-from-your-own-address

I want emails to come from mattn@benetech.org

[2020-06-15 15:31] johnhbenetech commented on #1252
@benetechMatt This would need to go through Benetech IT since it deals with the Benetech domain

[2020-06-16 08:00] abaranowska1 opened #1255 "Sharing My Answers doesn't work on MS Teams and Google Classroom"
**Describe the bug**
Sharing My Answers doesn't work on Teams and Google Classroom. I noticed the fact that when I clicked "Share My Answer" button and I want to copy a link to the problem with answers - all works and I can see the steps in view mode, but when I want to share answers on Google Classroom or MS Teams I see only First step. Toggle "Include my work when sharing" should be = true to sh

[2020-06-16 09:31] abaranowska1 opened #1256 ""Duplicate to edit/share" option changed name to "Duplicate" on the Problem Set edit page"
**Describe the bug**
It was a ticket #1130 for changing the wording to "Duplicate to edit/share ". Now I noticed that on the Homepage it is correct
![image](https://user-images.githubusercontent.com/61964176/84757545-92d36600-afc4-11ea-86f1-1b0b885d21c5.png),
 but on the Problem Set edit view I can see "Duplicate"
![image](https://user-images.githubusercontent.com/61964176/84757887-02495580-afc5-1

[2020-06-16 12:41] abaranowska1 commented on #1250
I checked this during the second day of the regression test and "Benefits of signing in" link is available
![image](https://user-images.githubusercontent.com/61964176/84775362-6b3dc700-afdf-11ea-857c-3b965efa6de2.png)

[2020-06-16 12:42] abaranowska1 commented on #1251
I checked this during the second day of the regression test and now it looks good
![image](https://user-images.githubusercontent.com/61964176/84775502-9aeccf00-afdf-11ea-8625-a41bc58fcc5f.png)

[2020-06-16 19:47] alexrcabral commented on #1241
@jscholes Solid, thank you for explaining your reasoning! I get where you're coming from that what is standard might not be the best way to address the issue (e.g. with truncated URLs as engendering too much trust in the safety of the URLs).

How do you envision this adapting to different screen sizes, e.g. if someone shrinks their window to be smaller than the URL length, if a user has low vision

[2020-06-16 21:46] alexrcabral commented on #1256
This is intended behavior:

- On /view, the set needs to be duplicated prior to saving or sharing
- Since the /edit view is explicitly accessed the problem set owner, it does not need to be duplicated prior to share/saving

[2020-06-16 23:05] #1094 closed

[2020-06-17 00:30] alexrcabral opened #1258 "Prompt highlighting bug"
Bug: The prompt text box is not being highlighted by clicking and dragging using a mouse or touchpad. (macOS 10.15.4)

Double/triple clicking and keyboard highlighting functions fine.
This occurs both on problem set creation and during problem set solving.
The bug is present in both qa and live versions.

[2020-06-17 07:16] abaranowska1 commented on #1249
**Regression testing status report**
Regression testing on 2 browsers (Google Chrome, Mozilla Firefox) was finished.

**List of reported issues:**

- https://github.com/benetech/MathShare/issues/1250
- https://github.com/benetech/MathShare/issues/1251
- https://github.com/benetech/MathShare/issues/1256
- https://github.com/benetech/MathShare/issues/1255

I saw that #1250 and #1251 are fixed. I als

[2020-06-17 07:16] #1249 closed

[2020-06-17 15:13] benetechMatt opened #1259 "Consolidate "assign" trigger in Intercom"
Currently assigning a problem set via google classroom, microsoft teams, and the link are recorded as separate actions to Intercom. In addition to those three options it would be helpful to have a single "assigned a set" event sent to Intercom. This event would be triggered any time an educator or "other" user clicks on any of the three problem set sharing options.

The current setup makes it diff

[2020-06-18 06:45] #1251 closed

[2020-06-18 06:45] #1250 closed

[2020-06-18 11:23] abaranowska1 commented on #1255
@rupeshparab I cannot log in to my testing accounts on teams - so I cannot check if this issue was fixed, do you think it could be related to this hotfix?
![image](https://user-images.githubusercontent.com/61964176/85014438-90107680-b166-11ea-8f03-ca5ca8601d4e.png)

[2020-06-18 11:37] johnhbenetech commented on #1255
@rupeshparab I think this might be related to #1148. Teams requires HTTPS links, so we should adjust link for both teams and classroom to send the https version

[2020-06-19 12:10] abaranowska1 commented on #1255
Ok, @rupeshparab now I can log in and share my answers on MS Teams Channel but only in Private Window / Incognito. I also see that answers/steps are shown in a view mode.
![Peek 2020-06-19 14-07](https://user-images.githubusercontent.com/61964176/85131133-87877100-b236-11ea-90fa-5a5a1c2d27ca.gif)
![Peek 2020-06-19 14-09](https://user-images.githubusercontent.com/61964176/85131137-89e9cb00-b236-11e

[2020-06-19 12:15] johnhbenetech commented on #1255
@abaranowska1 can you try to clear your cache before using in non private browsing and see if that works?

Also are you hitting the "Share my Answers" button, because that is intended to show the view mode version.

The share solve version has moved under the three dots menu next to the problem set title

[2020-06-19 13:20] abaranowska1 commented on #1255
@johnhbenetech It seems my issue was related to the old cookies, now it works also in nonprivate browsing mode. The second thing is fine, I know that it should be visible in the view mode, I wanted to confirm that, small misunderstanding :)
I think we can close it.

[2020-06-19 16:19] alexrcabral commented on #1147
Keyboard shortcut for Calc should be changed to Control-Alt-Enter (PC) / Option-Command-Return (Mac).

These appear to not conflict with OS-level keyboard shortcuts, VoiceOver, JAWS, NVDA, or existing Mathshare shortcuts, though @jscholes an extra once-over would be helpful.

[2020-06-19 16:29] alexrcabral commented on #846
@jscholes Any issues with the above?

[2020-06-19 16:43] sinabahram commented on #1147
That’s a pretty tough keystroke for lots of folks. Can we do shift+enter instead?

[2020-06-22 20:49] alexrcabral commented on #1147
Shift-enter is an existing shortcut in the math editor for adding a step. Are there other easier keystrokes that don't conflict with existing ones?

[2020-06-23 01:59] alexrcabral commented on #1241
**Updates from the last accessibility standup**: There's a significant difference between truncation in the base case (fully expanded window, 100% zoom) and user-initiated truncation (shrinking the window, zooming in, or increasing font size). I've updated the original mockups & scope to incorporate this.

The “Share My Answers” modal and the “Share Problem Set” modal should be updated to include

[2020-06-23 16:39] benetechMatt opened #1262 "Cannot copy paste math from previous steps"
Users need to be able to copy math equations from previous steps and paste it into the editor.  A use case would be complex solutions where users need too re-use an equation from a previous step that is no longer in the editor.

[2020-06-23 23:32] alexrcabral commented on #1262
Example:

<img width="1071" alt="Screen shot of Mathshare of the problem 'solve for x and y: 2x plus 4y equals negative 10, and 6x plus 3y equals six.' The math displayed in the math editor, x equals negative 2y minus 5, is currently highlighted." src="https://user-images.githubusercontent.com/47576069/85476934-28936600-b56e-11ea-81e4-ef7389eff221.png">

The first equation is solved for x, but in

[2020-06-24 14:10] #1255 closed

[2020-06-24 16:52] sinabahram commented on #1147
Where can all keyboard shortcuts for this application be found in one place? That's required before I can respond further to this topic.

[2020-06-24 18:06] benetechMatt opened #1263 "Replace sign in modal flow"
Scenarios:

1. student is not signed in and opens a link to a problem set. The student sees the set and opens a problem.
2. They add a step and click on "next problem".
3. A modal appears asking if they would like to save their work. Student selects "save work". the modal closes
4. A new modal appears asking the student to sign in. "You are not signed in. To make it easier to return to your work s

[2020-06-24 19:05] jscholes commented on #1263
@benetechMatt This is suboptimal.  The modal displayed in step 3 directly controls the display of the one in step 4.  If a user wants to save their work, they must sign in.  If they don't, they don't need to.  If they do want to save their work, prompting them to confirm what is basically the same choice for a second time is confusing and unnecessary.

[2020-06-24 19:09] jscholes commented on #1263
Also, by showing the second modal, you're implying that a student can save their work without signing in, because you're asking them two separate questions.  But in fact, if they opt not to sign in, their work will be lost.  So the questions are in fact the same, worded in a confusing fashion.

[2020-06-29 13:51] abaranowska1 commented on #1148
**Tested with success**
I confirmed that share url links start from "https://"
Verified cases:
- Share ulr link
![Peek 2020-06-29 15-45](https://user-images.githubusercontent.com/61964176/86013949-055e3000-ba20-11ea-9cb4-59460fa6fcad.gif)
- Share on Google Classroom
![image](https://user-images.githubusercontent.com/61964176/86013908-f8d9d780-ba1f-11ea-8cd1-7880c0923832.png)
- Share on Teams
![ima

[2020-06-29 17:08] alexrcabral commented on #1147
Update: Keyboard Shortcuts

Keyboard Shortcuts:
https://github.com/benetech/MathShare/wiki/Keyboard-Shortcuts

Math Editor Behavior
https://github.com/benetech/MathShare/wiki/Math-Editor-Behavior

Updates:
Two separate pages — Keyboard Shortcuts and Math Editor Behavior
Key commands separated out by Windows/Linux shortcuts vs Mac shortcuts
Key commands translated appropriately (e.g. Delete on Wind

[2020-06-29 17:13] alexrcabral commented on #1147
Update: Keyboard Shortcuts and Math Editor Behavior have been updated and put into two separate Github wiki pages: [Keyboard Shortcuts](url) & [Math Editor Behavior](https://github.com/benetech/MathShare/wiki/Math-Editor-Behavior.
)

I've tested all Mathshare commands and relevant native MathLive commands on Mac and Windows and with NVDA and Voiceover, removed deprecated commands, and fixed errors

[2020-06-29 17:14] alexrcabral commented on #1147
@sinabahram For calculate, would Alt+Equals (PC) / Option+Equals (Mac) be a better keystroke?

[2020-06-29 17:45] sinabahram commented on #1147
Alex, I would test that with users, but it does seem quite possible, yes, especially since it maps thematically with the operation and mimics a calculator interface.

[2020-06-29 20:05] alexrcabral commented on #1147
Solid, thanks Sina!

[2020-06-29 20:09] alexrcabral commented on #1147
Updated scoping:
Keyboard shortcut for Calc should be changed to Control-Alt-Enter (PC) / Option-Command-Return (Mac), and the tool-tip should be updated to reflect this.

When added, I will update the Github Keyboard Shortcuts page, and @benetechMatt will updated any external documentation (e.g. Intercom) referencing keyboard shortcuts.

I've also added this as a topic for usability tests with st

[2020-06-30 07:09] bognasoldev89 commented on #1147
It sure will.

[2020-06-30 16:13] alexrcabral commented on #1256
Closing the issue since this is intended behavior

[2020-06-30 16:13] #1256 closed

[2020-06-30 21:51] alexrcabral commented on #1006
For transparency on what we went over in the last accessibility call, the personalization modal has been in the live site since late 2019 (developed in October, released in December). We plan on looking at other ways on surfacing personalization in the future as a separate issue from TTS.

Somewhat related, we're also planning to move personalization from the profile dropdown into its own section

[2020-06-30 21:55] benetechMatt commented on #1252
Request sent to IT 6-17-20

[2020-06-30 22:43] alexrcabral commented on #1138
I think having the prompt overflow to the next line vertically is intuitive on the user side and a reasonable solution. When it comes to the math portions, the math should never be broken up over a line break, since that causes a lot of issues both cognitively as well as potentially how the MathML is surfaced / requiring complex logic to surface properly.

The easiest solution is that if the math

[2020-06-30 23:24] alexrcabral opened #1265 "Control vs Command on Mac shortcuts"
Problem: Several of the keyboard shortcuts equate control on a Mac with control on a PC keyboard, when Command is the correct Mac equivalent.

Solution:
- Cross Out and Replace (currently Control + Shift + Fn + Delete) should be Command + Shift + Fn + Delete
- Stack Below (currently Control + Return) should be Command + Return
 This should also be applied to the tooltips which appear on focus.

Wh

[2020-07-01 00:58] alexrcabral commented on #1265
Pulling this back for a bit to check against other changes which will be affecting Cross-Outs and Stack Below

[2020-07-01 14:58] rupeshparab opened #1266 "Modal initial focus issue"
Create a common component to use initialFocus attribute instead of using JS to focus the heading.
Remove deprecated modals for code cleanup

[2020-07-01 16:18] benetechMatt commented on #1252
IT help desk ticket https://bugs.benetech.org/browse/DSK-15170

[2020-07-01 17:14] benetechMatt commented on #1263
Thanks @jscholes. I'm continuing to scope this out and will tag you when we're ready for your feedback.

[2020-07-01 19:34] johnhbenetech opened #1267 "Remove deprecated modals from codebase"

[2020-07-01 19:40] johnhbenetech commented on #1266
@rupeshparab im breaking out the deprecation removal and common component into two separate tasks.

This task will handle the creation of a common modal component, including:
* always having a h1
* overriding the default parameter in react-aria-modal to always focus the h1
* having an optional prop to pass which element should be focused on modal dismissal (for cases where the originating element

[2020-07-01 22:06] benetechMatt commented on #997
when adding a problem, the TTS button stays on the loading animation and does not read the equation or prompt.  added equations and prompts do work as expected. https://www.loom.com/share/329c6c9d44b1479bbd902645ed9291db

[2020-07-01 22:13] benetechMatt commented on #995
Crossed out terms are read incorrectly.

- No verbal indication the terms are crossed out
- duplicating operators such as - and +
- 1+13 is read as "plus plus one hundred and thirteen"

here is a video of the issue.  I used the tutorial example problem for testing
https://www.loom.com/share/bb68d58f706d4f488e6478067fc37755

[2020-07-01 22:19] johnhbenetech commented on #997
@abaranowska1 @bognasoldev89 I'm moving this back to dev to address the bug @benetechMatt  found. Feel free to add any additional issues to this task though during testing.

[2020-07-01 22:25] johnhbenetech commented on #995
THanks @benetechMatt . Im gonna break this out into a separate issue. If there are other content-based oddities on how things are read (rather than if things are read) you can make a separate task to the Up Next column as they will likely require playing around in the mathlive land.

[2020-07-01 22:26] johnhbenetech opened #1268 "Cross outs aren't read correctly by TTS"
From #995

Crossed out terms are read incorrectly.

* No verbal indication the terms are crossed out
* duplicating operators such as - and +
* 1+13 is read as "plus plus one hundred and thirteen"

here is a video of the issue. I used the tutorial example problem for testing
https://www.loom.com/share/bb68d58f706d4f488e6478067fc37755

[2020-07-01 22:31] johnhbenetech opened #1269 "TTS button on create problem set scrolls with outer div"
Steps to reproduce:

* Go to create a new problem set
* add several problems (enough to make the add problem to problem sets modal scrollable)
* scroll

Result: TTS button moves with the scroll and becomes hidden behind other elements

Expected: Button stays aligned with Benetech Mathshare text

[2020-07-02 06:50] abaranowska1 commented on #997
@benetechMatt @johnhbenetech
1. I met the same issue also on Problem Set Edit View. The TTS button stays on the loading animation and does not read equation or prompt in the situation when I add something to the " My work ", but I didn't delete the previous step.
![Peek 2020-07-02 08-35](https://user-images.githubusercontent.com/61964176/86325380-36b54680-bc40-11ea-8415-cf88088d83ff.gif)
 2. The s

[2020-07-02 07:06] abaranowska1 commented on #1000
**Tested with success**

- hover state of inactive button
![image](https://user-images.githubusercontent.com/61964176/86326516-1d14fe80-bc42-11ea-84e3-711c7663afdf.png)
![image](https://user-images.githubusercontent.com/61964176/86326931-ae847080-bc42-11ea-99a7-465ec81d087b.png)

- hover state of active button
![image](https://user-images.githubusercontent.com/61964176/86326506-18e8e100-bc42-11ea-

[2020-07-02 07:06] #1000 closed

[2020-07-02 08:13] rupeshparab commented on #997
@abaranowska1
I have deployed a fix for this

[2020-07-02 08:59] abaranowska1 commented on #1001
**Tested with success**
- When users select the TTS button it changes to the active icon which is a stop button. If users select the button again it will stop the speaking.
- Starting TTS again will restart it from the beginning of that section. TTS will only read the section which can be the prompt, and individual step, or the math editor.
- Also the frame is visible around the active icon
![imag

[2020-07-02 08:59] #1001 closed

[2020-07-02 09:07] bognasoldev89 commented on #1268
@johnhbenetech with more complicated, crossed out equations, TTS is going rogue in my opinion. I tried this one:
![Screenshot from 2020-07-02 10-32-35](https://user-images.githubusercontent.com/51324797/86339235-a1bc4880-bc53-11ea-94bb-e049ae96ddfb.png)
https://mathshare-qa.diagramcenter.org/#/app/problemSet/solve/HGJH3Y7SZVVVY   problem no. 5

[2020-07-02 09:37] abaranowska1 opened #1272 "Loading... Placeholder appears when opening a problem with blank last step"
**Describe the bug**
Additional steps are added after click Save or Finish button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Problem Set
2. Click on the Problem
3. Add step for example with some cross out
4. Click Save button

**Expected behavior**
In my opinion, only 2 steps should be visible not 3

**Screenshots**
![Peek 2020-07-02 11-16](https://user-images.githubuserconte

[2020-07-02 09:42] abaranowska1 commented on #1272
@alexrcabral @johnhbenetech
Question to the issue from "Additional context". Is is the expected behavior that after click TTS button we can hear spelled  "L O  A D I N G . . . " instead of the word Loading ?

[2020-07-02 09:56] bognasoldev89 commented on #995
Verified on qa env, Chrome v83.0.4103.116 and Firefox v77.0.1

1.

At this moment both lines have TTS icon and both can be played independently. @alexrcabral @benetechMatt @johnhbenetech can you clarify, how it's supposed to work exactly?
![ms 995 1](https://user-images.githubusercontent.com/51324797/86339110-7fc2c600-bc53-11ea-9c40-299a33fa5743.png)

2. While I'm listening to the step and click "

[2020-07-02 09:57] abaranowska1 commented on #997
@rupeshparab @benetechMatt
One more question, in my opinion, something is wrong with recognizing text from my work description
Example :
Solve x is read as Solve x (correct)
Solve xx is read as Solve twenty ( ? )
Solve xxx is read as Solve thirty ( ? )
Solve xxxx is read as Solve four x ( ? )
Solve xxxxx is read as Solve xxxxx ( ? )
Solve IV is read as Solve four ( ? )

I'm not sure about this thi

[2020-07-02 10:15] bognasoldev89 commented on #1269
**Tested with success**

Verified on QA env.
Browsers:
- Chrome v83.0.4103.116
- Firefox v77.0.1

**Verified issues**
- Creating numerous problem sets with checking it's appearance

**Summary**
The modal looks consistent, the TTS button is available at any moment and no other UI issues occured.

**Attachments**
Chrome:
![ms 1269 chrome](https://user-images.githubusercontent.com/51324797/86346760-a

[2020-07-02 10:37] abaranowska1 commented on #1269
@rupeshparab
I found one small css issue. You can see that TTS button is in the wrong place when we want to create a new problem only on Firefox Browser.
![image](https://user-images.githubusercontent.com/61964176/86349018-c965dd80-bc60-11ea-910a-cd0a92649674.png)

[2020-07-02 10:39] johnhbenetech commented on #997
@abaranowska1 please break the Roman numeral into a new task (and put it into up next column). Then you can test the changes @rupeshparab made for the bug for this issue

[2020-07-02 10:39] #997 closed

[2020-07-02 10:45] abaranowska1 opened #1273 "Investigate Roman Numeral according to TTS"

[2020-07-02 10:53] abaranowska1 commented on #997
@johnhbenetech #1273 ticket for Roman Numeral.
@rupeshparab Thanks for the fix. Now it looks fine. I cannot reproduce issues from the previous comments. I didn't have a situation when TTS icon stays on the loading animation.

**Verified on:**
- Google Chrome Version 83.0.4103.116
- Firefox Version 77.0.1